{% load i18n %}


<div class="grid gird-cols-1 w-full gap-5">
    <div class="grid grid-cols-2 gap-5">
        <!-- Menu Name -->
        <div>
            <c-input :field="form.name" labeled></c-input>
        </div>

        <!-- Menu Type -->
        <div class="flex flex-col">
            <c-select :field="form.menu_type" :instance_value="form.instance.menu_type.id" class="w-fit!"
                      labeled></c-select>
        </div>

        <!-- Portions -->
        <div class="flex flex-col gap-1 w-full">
            <p class="flex items-center gap-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="size-6 text-secondary!">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"></path>
                </svg>
                {% translate 'Portions' %}
            </p>
            <div class="flex gap-3 border-t-1 border-secondary pt-1 w-full">
                <div class="labeled-number-input flex w-full">
                    <div class="flex items-center gap-2 w-full">
                        <div class="flex items-center gap-2 w-full">
                            <c-number-action-input :field="form.portions" no_errors></c-number-action-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>