{% load static i18n %}

<div class="flex flex-col gap-5">
    <h3><span class="text-primary">{{ menu_item.menu_course.get_course_type_display }}</span> Recipe</h3>
    <div class="grid grid-cols-2 grid-5 gap-5 md:gap-10 w-full mx-auto">
        <!-- Image Carousel -->
        <div class="col-span-2 md:col-span-1 carousel carousel-start w-full aspect-video rounded-sm print:hidden">
            {% with images=recipe.images.all %}
                {% for image in images %}
                    <div id="{{ image.image.name }}"
                         class="carousel-item relative w-full bg-cover bg-center bg-no-repeat rounded-sm"
                         style="background-image: url('{{ image.image.url }}');"
                    >
                    </div>
                {% endfor %}
                {% if not recipe.images.all %}
                    <div id="placeholder"
                         class="carousel-item relative w-full bg-cover bg-center bg-no-repeat rounded-sm"
                         style="background-image: url('{{ recipe.get_thumbnail_image }}');"
                    >
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <img src="

                {% if recipe.images.first.image.url %}{{ recipe.images.first.image.url }}{% else %}{{ recipe.get_thumbnail_image }}{% endif %}"
             alt="{{ recipe.images.first.caption }}"
             class="col-span-2 md:col-span-1 hidden print:block w-full aspect-video rounded-sm shadow-lg object-cover"/>

        <!-- Recipe Details -->
        <div class="col-span-2 md:col-span-1 flex flex-col gap-5 justify-between">
            <div class="flex flex-col gap-5">
                <div class="flex items-center gap-5 justify-between">
                    <h4 class="wrap-break-word break-all">{{ recipe.name }}</h4>
                </div>

                <p class="wrap-break-word break-all">
                    {% if recipe.description != "" %}
                        {{ recipe.description }}
                    {% else %}
                        {% translate 'No description for this recipe.' %}
                    {% endif %}
                </p>
            </div>

            <div class="flex flex-col gap-5">
                <!-- Skill Level -->
                <div class="flex gap-5">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6 text-secondary">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z"></path>
                    </svg>
                    <p>{{ recipe.skill_level }}</p>
                </div>

                <!-- Portions -->
                <div class="flex gap-5">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6 text-secondary">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"></path>
                    </svg>
                    <p><span class="font-bold">{% if portions %}{{ portions }}{% else %}{{ menu.portions }}{% endif %}</span> Pers.</p>
                </div>
            </div>

            <!-- Times -->
            <div class="flex gap-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="size-6 text-secondary">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                </svg>

                <div class="w-full grid grid-cols-4 gap-5">
                    <!-- Total Time -->
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex gap-1 border-b-1 border-neutral pb-1">
                            <p>{% translate 'Total' %}</p>
                        </div>

                        <div class="flex gap-2 px-2">
                            <p>
                                <span class="font-bold">{{ recipe.total_time_hours }}</span><small>h</small>
                            </p>
                            <p>
                                <span class="font-bold">{{ recipe.total_time_minutes }}</span><small>min</small>
                            </p>
                        </div>
                    </div>

                    <!-- Cooking Time -->
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex gap-1 border-b-1 border-neutral pb-1">
                            <p>{% translate 'Cooking' %}</p>
                        </div>

                        <div class="flex gap-2 px-2">
                            <p>
                                <span class="font-bold">{{ recipe.cooking_time_hours }}</span><small>h</small>
                            </p>
                            <p>
                                <span class="font-bold">{{ recipe.cooking_time_minutes }}</span><small>min</small>
                            </p>
                        </div>
                    </div>

                    <!-- Working Time -->
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex gap-1 border-b-1 border-neutral pb-1">
                            <p>{% translate 'Working' %}</p>
                        </div>

                        <div class="flex gap-2 px-2">
                            <p>
                                <span class="font-bold">{{ recipe.working_time_hours }}</span><small>h</small>
                            </p>
                            <p>
                                <span class="font-bold">{{ recipe.working_time_minutes }}</span><small>min</small>
                            </p>
                        </div>
                    </div>

                    <!-- Rest Time -->
                    <div class="flex flex-col gap-1 w-full">
                        <div class="flex gap-1 border-b-1 border-neutral pb-1">
                            <p>{% translate 'Resting' %}</p>
                        </div>

                        <div class="flex gap-2 px-2">
                            <p>
                                <span class="font-bold">{{ recipe.rest_time_hours }}</span><small>h</small>
                            </p>
                            <p>
                                <span class="font-bold">{{ recipe.rest_time_minutes }}</span><small>min</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-10 w-full mx-auto pt-5">
    <!-- Recipe Ingredients -->
    <div class="flex flex-col gap-5 justify-start w-full">
        <div class="flex justify-between items-center w-full">
            <h5>{% translate 'Ingredients' %}</h5>
        </div>

        {% if ingredients and menu_item.menu_course.order in ingredients %}
            {% include 'recipes/partials/recipe_ingredients_list.html' with ingredients=ingredients|get_item:menu_item.menu_course.order %}
        {% endif %}
    </div>

    <!-- Preparation Steps -->
    <div class="flex flex-col gap-5 justify-start">
        <h5>{% translate 'Preparation Steps' %}</h5>

        <ul class="flex flex-col gap-5">
            {% for step in recipe.ordered_preparation_steps %}
                <li class="flex flex-col gap-1">
                    <p class="w-fit relative">{% translate 'Preparation Step' %} <span
                            class="font-extrabold">{{ step.order|add:"1" }}</span></p>
                    <p class="ps-5">{{ step.step_text }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
