{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block title %}
    {% trans "Sign In" %}
{% endblock title %}

{% block main_content %}
    <div class="w-full h-full md:flex flex-col md:items-center md:justify-center">
        <h1>{% translate 'Log In Now' %}</h1>

        <div class="h-full flex flex-col justify-center items-center max-w-sm">
            {% if not SOCIALACCOUNT_ONLY %}
                <div class="bg-base-primary p-5 rounded-lg">
                    {% url 'account_login' as login_url %}

                    <form action="{{ login_url }}" method="post" class="flex flex-col gap-5">
                        {% csrf_token %}

                        <div class="flex flex-col w-full gap-3">
                            {% if form.non_field_errors %}
                                <ul>
                                    {% for error in form.non_field_errors %}
                                        <li><p class="text-red-400 text-center">{{ error }}</p></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <c-input :field="form.login" type="text"></c-input>

                            <div class="w-full">
                                 <c-input :field="form.password" type="password"></c-input>

                                <a href="{% url 'account_reset_password' %}">
                                    <small>{% translate 'Forgot your password?' %}</small>
                                </a>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary w-full">
                            {% trans "Sign In" %}
                        </button>
                    </form>
                </div>

                <div class="pt-10 w-full text-center flex flex-col gap-3 items-center">
                    <p>You don't have an account at Gourmet-Wiki yet?</p>
                    <c-a animated url="{% url 'account_signup' %}" class="underline">{% translate 'Create new account' %}</c-a>
                </div>
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                {% element hr %}
                {% endelement %}
                {% element button_group vertical=True %}
                    {% if PASSKEY_LOGIN_ENABLED %}
                        {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                            {% trans "Sign in with a passkey" %}
                        {% endelement %}
                    {% endif %}
                    {% if LOGIN_BY_CODE_ENABLED %}
                        {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                            {% trans "Send me a sign-in code" %}
                        {% endelement %}
                    {% endif %}
                {% endelement %}
            {% endif %}
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
{% endblock main_content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
