{% load static i18n allauth socialaccount %}


{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <div class="flex flex-col gap-5">
        <h3>{% translate 'Or use a Third-Party' %}</h3>

        <div class="flex flex-col gap-5 justify-center items-center w-full">
            {% if not SOCIALACCOUNT_ONLY %}
                <div class="bg-base-primary w-full">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}