{% extends "base.html" %}
{% load i18n static %}

{% block main_content %}
    <div class="container flex flex-col gap-10 items-center justify-center py-20 px-5">
     {% comment %}   <c-a url="{% url 'home' %}" title="Gourmet Wiki" class="hover:scale-105 dark:hidden">
            <img class="w-3/4 md:max-w-sm mx-auto" src="{% static 'images/logo_landscape_gourmet-theme3.svg' %}"
                 alt="Gourmet Wiki">
        </c-a>
        <c-a url="{% url 'home' %}" title="Gourmet Wiki" class="hover:scale-105 not-dark:hidden">
            <img class="w-3/4 md:max-w-sm mx-auto" src="{% static 'images/logo_landscape_gourmet-theme-dark.svg' %}"
                 alt="Gourmet Wiki">
        </c-a>{% endcomment %}
        {% block heading %}
        {% endblock %}
        <div class="flex flex-col gap-5 justify-start items-center max-w-md text-center w-full">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock %}