{% extends "account/base_entrance.html" %}
{% load i18n static allauth account %}

{% block title %}
    {{ block.super }}
    - {% trans "Log In Now" %}
{% endblock title %}

{% block heading %}
    <h1 class="text-center">{% translate 'Log In Now' %}</h1>
    <p class="text-center">{% blocktranslate %}<span class="text-secondary">🚧 Access Limited</span><br>We’re cooking something up!{% endblocktranslate %}</p>
{% endblock %}

{% block content %}
    {% if not SOCIALACCOUNT_ONLY %}
        <div class="bg-base-primary w-full">
            {% url 'account_login' as login_url %}

            <form action="{{ login_url }}" method="post" class="flex flex-col gap-5 w-full text-start max-w-xs mx-auto">
                {% csrf_token %}

                <div class="flex flex-col w-full gap-3">
                    {% if form.non_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li><p class="text-red-400 text-center">{{ error }}</p></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div>
                        <c-input :field="form.login" type="text"></c-input>
                    </div>

                    <div>
                        <div class="relative w-full">
                            <c-input :field="form.password" type="password" class="w-full pr-10">
                                <button tabindex="0" role="button" type="button" id="togglePassword"
                                        aria-expanded="false"
                                        class="swap absolute inset-y-0 z-20 right-0 pr-3 cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor"
                                         class="size-6 swap-off">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="size-6 swap-on">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                                    </svg>
                                </button>
                            </c-input>
                        </div>
                        <a href="{% url 'account_reset_password' %}">
                            <small>{% translate 'Forgot your password?' %}</small>
                        </a>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-full">
                    {% trans "Sign In" %}
                </button>
            </form>
        </div>

        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}

        <div class="text-center flex flex-col gap-1 items-center">
            <p>{% translate "You don't have an account at Gourmet Wiki yet?" %}</p>
            <c-a animated url="{% url 'account_signup' %}"
                 class="underline">{% translate 'Sign Up Now' %}</c-a>
        </div>
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button_group vertical=True %}
            {% if PASSKEY_LOGIN_ENABLED %}
                {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                    {% trans "Sign in with a passkey" %}
                {% endelement %}
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED %}
                {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                    {% trans "Send me a sign-in code" %}
                {% endelement %}
            {% endif %}
        {% endelement %}
    {% endif %}

    <script>
        const passwordInput = document.getElementById("id_password");
        const togglePassword = document.getElementById("togglePassword");

        togglePassword.addEventListener("click", () => {
            const isPassword = passwordInput.type === "password";
            passwordInput.type = isPassword ? "text" : "password";

            if (togglePassword.classList.contains('swap-active')) {
                togglePassword.classList.remove('swap-active');
                togglePassword.removeAttribute('aria-expanded');
            } else {
                togglePassword.classList.add('swap-active');
                togglePassword.setAttribute('aria-expanded', 'true');
            }
        });

        {% comment %}togglePassword.addEventListener('blur', () => {
            setTimeout(() => {
                if (document.activeElement !== togglePassword && !togglePassword.contains(document.activeElement)) {
                    togglePassword.classList.remove('swap-active');
                    togglePassword.setAttribute('aria-expanded', 'false');
                }
            }, 150);
        });{% endcomment %}
    </script>

{% endblock content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
