{% extends "account/base_entrance.html" %}
{% load i18n allauth %}

{% block title %}
    {{ block.super }}
    - {% trans "Change Password" %}
{% endblock title %}

{% block heading %}
    <h1 class="text-center">{% translate 'Change Password' %}</h1>
{% endblock %}

{% block content %}
    <div class="bg-base-primary w-full">
        {% url 'account_change_password' as action_url %}

        <form action="{{ action_url }}" method="post" class="flex flex-col gap-5 w-full text-start max-w-xs mx-auto">
            {% csrf_token %}
            {{ redirect_field }}

            <div class="flex flex-col w-full gap-3">
                {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li><p class="text-red-400 text-center">{{ error }}</p></li>
                        {% endfor %}
                    </ul>
                {% endif %}

               <div>
                   <c-input :field="form.password1" type="password"></c-input>
               </div>

                <div>
                    <c-input :field="form.password2" type="password"></c-input>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-full">
                {% trans "Change Password" %}
            </button>

            <a href="{% url 'account_reset_password' %}">
                <small>{% translate 'Forgot your password?' %}</small>
            </a>
        </form>
    </div>
{% endblock content %}
