{% extends "base.html" %}
{% load i18n static allauth account %}

{% block title %}
    {{ block.super }}
    - {% trans "Change Password" %}
{% endblock title %}

{% block main_content %}
    <div class="w-full md:flex flex-col gap-10 md:items-center md:justify-center pb-10">
        {% if token_fail %}
            <h1>{% translate 'Bad Token' %}</h1>
        {% else %}
            <h1>{% translate 'Change Password' %}</h1>
        {% endif %}

        <div class="h-full flex flex-col gap-20 justify-center items-center max-w-sm">
            <c-a url="{% url 'home' %}" title="Gourmet Wiki" class="hover:scale-105">
                <img class="w-full mx-auto" src="{% static 'images/logo_landscape_gourmet-theme3.svg' %}"
                     alt="Gourmet Wiki">
            </c-a>

            <div class="bg-primary p-4 rounded-md text-center">
                <p>{% translate 'Your password is now changed.' %}</p>
            </div>

            <div class="pt-10 w-full text-center flex flex-col gap-3 items-center">
                <p> Please contact us if you have any trouble resetting your password. </p>
                <c-a url=""
                     class="underline">{% translate 'Support' %}</c-a>
            </div>
        </div>
    </div>
{% endblock main_content %}
