{% extends "account/base_entrance.html" %}
{% load i18n allauth %}

{% block title %}
    {{ block.super }}
    - {% trans "Change Password" %}
{% endblock title %}

{% block heading %}
    <h1 class="text-center">{% translate 'Change Password' %}</h1>
{% endblock %}

{% block content %}
    <div class="bg-base-primary w-full">
        {% url 'account_change_password' as action_url %}

        <form action="{{ action_url }}" method="post" class="flex flex-col gap-5 w-full text-start max-w-xs mx-auto">
            {% csrf_token %}
            {{ redirect_field }}

            <div class="flex flex-col w-full gap-3">
                {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li><p class="text-red-400 text-center">{{ error }}</p></li>
                        {% endfor %}
                    </ul>
                {% endif %}

               <div class="relative w-full">
                   <c-input :field="form.password1" type="password" labeled w_full class="pr-10">
                        <button type="button"
                                class="password-toggle swap absolute inset-y-0 z-20 right-0 pr-3 cursor-pointer"
                                aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor"
                                 class="size-6 swap-off">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" class="size-6 swap-on">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                            </svg>
                        </button>
                    </c-input>
               </div>

                <div class="relative w-full">
                    <c-input :field="form.password2" type="password" labeled w_full class="pr-10">
                        <button type="button"
                                class="password-toggle swap absolute inset-y-0 z-20 right-0 pr-3 cursor-pointer"
                                aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor"
                                 class="size-6 swap-off">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" class="size-6 swap-on">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                            </svg>
                        </button>
                    </c-input>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-full">
                {% trans "Change Password" %}
            </button>

            <a class="text-center" href="{% url 'account_reset_password' %}">
                <small>{% translate 'Forgot your password?' %}</small>
            </a>
        </form>
    </div>

    <script>
        document.addEventListener("click", (e) => {
            const toggle = e.target.closest(".password-toggle");
            if (!toggle) return;

            const wrapper = toggle.closest(".relative");
            const input = wrapper.querySelector("input[type='password'], input[type='text']");

            const isPassword = input.type === "password";
            input.type = isPassword ? "text" : "password";

            toggle.classList.toggle("swap-active", isPassword);
            toggle.setAttribute("aria-expanded", String(isPassword));
        });
    </script>
{% endblock content %}
