{% extends "account/base_entrance.html" %}
{% load i18n static allauth account %}

{% block title %}
    {{ block.super }}
    - {% trans "Sign In" %}
{% endblock title %}

{% block heading %}
    {% if token_fail %}
        <h1>{% translate 'Bad Token' %}</h1>
    {% else %}
        <h1>{% translate 'Change Password' %}</h1>
    {% endif %}
{% endblock heading %}

{% block content %}
    <div class="h-full flex flex-col gap-5 justify-center items-center max-w-sm">
        <p>{% translate 'Your password is now changed.' %}</p>

        <div class="w-full text-center flex flex-col gap-1 items-center">
            <p> Please contact us if you have any trouble resetting your password. </p>
            <c-a animated url=""
                 class="underline">{% translate 'Support' %}</c-a>
        </div>
    </div>
{% endblock content %}
