{% for field in form %}
    <div class="flex flex-col">
        <label for="{{ field.id_for_label }}" class="label">
            {{ field.label }}
            {% if field.field.required %}
                <span>*</span>
            {% endif %}
        </label>

        {{ field }}

        {% if field.help_text %}
            <small class="label">{{ field.help_text }}</small>
        {% endif %}

        {% if field.errors %}
            <ul class="list">
                {% for error in field.errors %}
                    <li class="list-row">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endfor %}