{% load daisyui_field %}

{% for field in form %}
    <div class="flex flex-col gap-1">
        <label for="{{ field.id_for_label }}" class="label">
            {{ field.label }}
            {% if field.required %}
                <span>*</span>
            {% endif %}
        </label>

        {% daisyui_field field %}

        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li class="text-red-400"><p>{{ error }}</p></li>
                {% endfor %}
            </ul>
        {% elif field.help_text %}
            <small class="label">{{ field.help_text }}</small>
        {% endif %}
    </div>
{% endfor %}