<a href="javascript:history.back();" class="flex gap-3 group transition-shadow cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor"
         class="size-6 transition-transform duration-300 group-hover:-translate-x-2 text-base-content/50! group-hover:text-base-content!">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
    </svg>
    <small class="transition-transform duration-300 group-hover:-translate-x-2 text-base-content/50! group-hover:text-base-content!">Go back</small>
</a>