<a class="flex gap-1 items-center justify-start cursor-pointer group/link {% if color %}{{ color }}{% else %}text-base-primary{% endif %}"
   href="{% if url_name %}{% url url_name %}{% endif %}" onclick="{{ onclick }}"
>
    {{ text }}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor"
         class="hidden size-6 transition-all duration-300 opacity-0 group-hover/link:inline group-hover/link:opacity-100 group-hover/link:translate-x-2">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
    </svg>
</a>