{% load static i18n %}

<div id="navbar" class="h-16 navbar bg-base-100 fixed top-0 w-full transition-all duration-300 shadow-md z-50">
    <div class="navbar-start flex gap-3">
        <c-a url="{% url 'home' %}" title="Gourmet Wiki" class="hover:scale-105">
            <img class="w-42" src="{% static 'images/logo_landscape_gourmet-theme-dark.svg' %}"
                 alt="Gourmet Wiki">
            {% comment %}            <img class="w-42 not-dark:hidden" src="{% static 'images/logo_landscape_gourmet-theme-dark.svg' %}"
                 alt="Gourmet Wiki">{% endcomment %}
        </c-a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="absolute z-50 flex gap-5 px-1">
            <li>
                <c-a url="{% url 'recipe-list' %}"
                     class="btn {% if request.resolver_match.url_name == 'recipe-list' %}btn-neutral{% endif %}">
                    {% translate 'All Recipes' %}
                </c-a>
            </li>
            <li>
                <c-a url="{% url 'menu_list' %}"
                     class="btn {% if request.resolver_match.url_name == 'menu_list' %}btn-neutral{% endif %}">
                    {% translate 'All Menus' %}
                </c-a>
            </li>
        </ul>
    </div>
    <div class="navbar-end gap-2 md:gap-5">
        {% if user.is_authenticated %}
            <div class="hidden lg:flex gap-2 h-full items-center">
                <c-quick-actions></c-quick-actions>
            </div>
            <div class="avatar group/avatar cursor-pointer dropdown dropdown-end dropdown-bottom">
                <div tabindex="0"
                     role="button"
                     class="w-12 h-12 mask mask-hexagon-2 bg-accent group-hover/avatar:scale-105">
                    {#                    <img src="{{ user.profile.avatar.url }}" alt="Avatar"/>#}
                    <p class="uppercase text-center text-accent-content w-full h-full flex items-center justify-center">
                        {{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}
                    </p>
                </div>
                <ul tabindex="0" class="rounded-md dropdown-content menu menu-vertical w-max bg-neutral">
                    {% if user.is_authenticated %}
                        <li class="w-full">
                            <c-a url="{% url 'users-profile' %}"
                                 class="flex gap-5 items-center">
                                <c-profile-icon size="size-4"></c-profile-icon>
                                {% translate 'Your Profile' %}
                            </c-a>
                        </li>
                        <li class="w-full">
                            <c-a url="{% url 'account_logout' %}"
                                 class="flex gap-5 items-center">
                                <c-logout-icon size="size-4"></c-logout-icon>
                                {% translate 'Logout' %}
                            </c-a>
                        </li>
                    {% else %}
                        <li class="hover:bg-primary">
                            <c-a animated url="{% url 'account_login' %}">{% translate 'Login' %}</c-a>
                        </li>
                        <li class="hover:bg-primary">
                            <c-a animated url="{% url 'account_signup' %}">{% translate 'Sign up' %}</c-a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <ul class="p-2 w-fit rounded-lg">
                <li><c-a url="{% url 'account_login' %}">{% translate 'Log In' %}</c-a></li>
            </ul>
        {% endif %}
        <div class="dropdown dropdown-end w-max lg:hidden">
            <div tabindex="0" role="button" class="p-2">
                <c-menu-icon size="size-6"></c-menu-icon>
            </div>

            <ul tabindex="0" class="rounded-md dropdown-content menu menu-vertical w-max bg-neutral">
                <li class="w-full">
                    <c-a url="{% url 'recipe-list' %}">
                        {% translate 'All Recipes' %}
                    </c-a>
                </li>
                <li>
                    <c-a url="{% url 'menu_list' %}">
                        {% translate 'All Menus' %}
                    </c-a>
                </li>
            </ul>
        </div>
    </div>
</div>
