{% load static %}

<div id="navbar" class="navbar bg-base-200 fixed top-0 w-full transition-all duration-300 shadow-md z-50">
    <div class="navbar-start flex gap-3">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h8m-8 6h16"></path>
                </svg>
            </div>
            <ul
                    tabindex="0"
                    class="menu dropdown-content bg-base-200 text-accent rounded-box z-1 mt-3 p-2 shadow">
                <li><c-a>Recipes</c-a></li>
                <li>
                    <c-a>Options</c-a>
                    <ul class="p-2">
                    <li><c-a animated url="{% url 'recipe-list' %}">Find Recipe</c-a></li>
                    </ul>
                </li>
                <li><c-a>Item 3</c-a></li>
            </ul>
        </div>
        <a href="{% url 'home' %}">
            <img class="w-42" src="{% static 'images/logo_landscape_gourmet-theme3.svg' %}"
                 alt="Logo Landscape - Gourmet Wiki">
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="absolute z-50 menu menu-horizontal px-1">
            <li class="cursor-pointer dropdown dropdown-center dropdown-bottom">
                <p tabindex="0"
                >
                    Recipes
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-3">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
                    </svg>

                </p>
                <ul tabindex="0" class="dropdown-content w-max bg-base-300">
                    <li><c-a animated url="{% url 'recipe-list' %}">Find Recipe</c-a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navbar-end">
        {% if user.is_authenticated %}
            <div class="avatar group/avatar cursor-pointer dropdown dropdown-end dropdown-bottom">
                <div tabindex="0"
                     role="button"
                     class="w-12 h-12 mask mask-hexagon-2 bg-secondary group-hover/avatar:scale-105">
                    {#                    <img src="{{ user.profile.avatar.url }}" alt="Avatar"/>#}
                    <p class="uppercase text-center text-accent-content w-full h-full flex items-center justify-center">
                        {{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}
                    </p>
                </div>
                <ul tabindex="0" class="menu menu-vertical dropdown-content w-36 bg-base-300">
                    {% if user.is_authenticated %}
                        <li><c-a animated url="{% url 'users-profile' %}">My Profile</c-a></li>
                        <li><c-a animated url="{% url 'users-profile-recipes' %}">Cookbook</c-a></li>
                        <li><c-a animated url="{% url 'users-profile-favorite-recipes' %}">Favorites</c-a></li>
                        <li><c-a animated url="{% url 'recipe-create' %}">Add Recipe</c-a></li>
                        <li><c-a animated url="{% url 'account_logout' %}">Logout</c-a></li>
                    {% else %}
                        <li><c-a animated url="{% url 'account_login' %}">Login</c-a></li>
                        <li><c-a animated url="{% url 'account_signup' %}">Sign up</c-a></li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <ul class="p-2 w-fit rounded-lg">
                <li>{% include "partials/go_to.html" with url_name="account_login" text="Login" color="text-base-content" %}</li>
            </ul>
        {% endif %}
    </div>
</div>
