{% extends "base.html" %}
{% load i18n static %}

{% block title %}
    {{ block.super }}
    - {% translate 'Add Menu' %}
{% endblock %}

{% block head %}
    {{ wizard.form.media }}
    <script src="{% static 'js/formset-utils.js' %}"></script>
{% endblock %}


{% block main_content %}
    <div class="flex flex-col gap-10 w-full pb-10">
        <div class="flex flex-col gap-1 w-full">
            <h2 class="self-start flex gap-5 items-center w-full">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 text-neutral drop-shadow-sm">
                    <path d="M6 3a3 3 0 0 0-3 3v2.25a3 3 0 0 0 3 3h2.25a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3H6ZM15.75 3a3 3 0 0 0-3 3v2.25a3 3 0 0 0 3 3H18a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3h-2.25ZM6 12.75a3 3 0 0 0-3 3V18a3 3 0 0 0 3 3h2.25a3 3 0 0 0 3-3v-2.25a3 3 0 0 0-3-3H6ZM17.625 13.5a.75.75 0 0 0-1.5 0v2.625H13.5a.75.75 0 0 0 0 1.5h2.625v2.625a.75.75 0 0 0 1.5 0v-2.625h2.625a.75.75 0 0 0 0-1.5h-2.625V13.5Z"></path>
                </svg>
                {% translate 'Add Menu' %}
            </h2>
            <c-a animated reverted visible_animation url="javascript:history.back();">Go back</c-a>
        </div>

        <div class="self-center flex flex-col gap-10 w-full max-w-screen md:w-3xl md:max-w-3xl">
            <ul class="steps steps-vertical step-primary lg:steps-horizontal w-full">
                <li class="step {% if wizard.steps.current|add:"0" >= 0 %}step-accent{% endif %}">
                    <p>
                        Details
                    </p>
                </li>
                <li class="step {% if wizard.steps.current|add:"0" >= 1 %}step-accent{% endif %}">
                    <p>
                        Courses & Recipes
                    </p>
                </li>
            </ul>

            <form method="post" id="wizard-form" enctype="multipart/form-data"
                  class="w-full flex flex-col gap-5">
                {% csrf_token %}
                {{ wizard.management_form }}
                {{ wizard.form.management_form }}

                {% if wizard.form.non_form_errors %}
                    <div class="alert alert-outline alert-error">
                        {{ wizard.form.non_form_errors }}
                    </div>
                {% endif %}

                {% if wizard.form.non_field_errors %}
                    <div class="alert alert-outline alert-error">
                        {{ wizard.form.non_field_errors }}
                    </div>
                {% endif %}

                {% if wizard.steps.current == '0' %}
                    {% include "menus/partials/menu_form.html" with form=wizard.form %}
                {% elif wizard.steps.current == '1' %}
                    <h3 class="text-xl font-bold">{% translate 'Menu Courses & Recipes' %}</h3>
                    <p class="text-sm text-base-content/70">{% translate 'Add the courses and select recipes for your menu.' %}</p>
                    {% include "menus/partials/menu_course_form.html" with forms=wizard.form.forms %}
                {% endif %}

                <div class="flex gap-1 justify-end">
                    {% if wizard.steps.prev %}
                        <button
                                name="wizard_goto_step"
                                type="submit"
                                value="{{ wizard.steps.prev }}"
                                class="btn btn-accent btn-outline"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
                            </svg>
                        </button>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">
                        {% if wizard.steps.current == wizard.steps.last %}
                            {% translate 'Create Menu' %}
                        {% else %}
                            {% translate 'Next' %}
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
