{% extends "base.html" %}
{% load recipe_tags i18n static %}

{% block title %}
    {{ block.super }}
    - {{ object.name }}
{% endblock %}


{% block main_content %}
    {{ block.super }}

    <div id="print-area" class="w-full flex flex-col gap-10 items-center justify-start p-2 pb-10">
        <img class="w-42 hidden print:block self-start" src="{% static 'images/logo_landscape_gourmet-theme3.svg' %}"
             alt="Logo Landscape - Gourmet Wiki">

        <div class="w-full flex justify-between items-start">
            <div class="flex flex-col gap-1">
                <h2>{{ menu.name }}</h2>
                <c-a animated reverted visible_animation url="javascript:history.back();" class="print:hidden">Go back</c-a>
            </div>
            <button onclick="printElement('print-area')" class="cursor-pointer print:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="size-6 hover:size-7">
                    <path fill-rule="evenodd"
                          d="M7.875 1.5C6.839 1.5 6 2.34 6 3.375v2.99c-.426.053-.851.11-1.274.174-1.454.218-2.476 1.483-2.476 2.917v6.294a3 3 0 0 0 3 3h.27l-.155 1.705A1.875 1.875 0 0 0 7.232 22.5h9.536a1.875 1.875 0 0 0 1.867-2.045l-.155-1.705h.27a3 3 0 0 0 3-3V9.456c0-1.434-1.022-2.7-2.476-2.917A48.716 48.716 0 0 0 18 6.366V3.375c0-1.036-.84-1.875-1.875-1.875h-8.25ZM16.5 6.205v-2.83A.375.375 0 0 0 16.125 3h-8.25a.375.375 0 0 0-.375.375v2.83a49.353 49.353 0 0 1 9 0Zm-.217 8.265c.178.018.317.16.333.337l.526 5.784a.375.375 0 0 1-.374.409H7.232a.375.375 0 0 1-.374-.409l.526-5.784a.373.373 0 0 1 .333-.337 41.741 41.741 0 0 1 8.566 0Zm.967-3.97a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H18a.75.75 0 0 1-.75-.75V10.5ZM15 9.75a.75.75 0 0 0-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 0 0 .75-.75V10.5a.75.75 0 0 0-.75-.75H15Z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>

        <div class="flex flex-col gap-10 w-full h-full">
            <p>{{ menu.menu_type.description }}</p>

            <!-- Total Time -->
            <div class="flex gap-5 w-fit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="size-6 text-secondary">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                </svg>
                <div class="flex flex-col gap-1 w-fit">
                    <div class="flex gap-1 border-b-1 border-neutral pb-1">
                        <p>{% translate 'Total Time' %}</p>
                    </div>

                    <div class="flex gap-2 px-2">
                        <p>
                            <span class="font-bold">{{ menu.total_time_hours }}</span><small>h</small>
                        </p>
                        <p>
                            <span class="font-bold">{{ menu.total_time_minutes }}</span><small>min</small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex justify-between print:hidden">
                <div class="flex gap-5 items-center w-full">
                    <p><b>{% translate 'Select Course:' %}</b></p>
                    <div id="recipe-carousel-buttons" class="flex gap-2">
                        {% for menu_item in menu.courses.all %}
                            <button onclick="goToSlide({{ forloop.counter0 }})" data-index="{{ forloop.counter0 }}"
                                    class="btn btn-primary">{{ menu_item.get_course_type_display }}</button>
                        {% endfor %}
                    </div>
                </div>

                <c-portions-calculator-menu :menu="menu" portions_value="{{ menu.portions }}"
                                            hx_target="#recipe-carousel"></c-portions-calculator-menu>
            </div>

            {% include "menus/partials/recipe_carousel.html" %}
        </div>
    </div>

    <script>
        window.currentRecipeSlide = 0;

        function goToSlide(index) {
            document.querySelectorAll('.recipe-slide').forEach((el, i) => {
                el.classList.toggle('hidden', i !== index);
                window.currentRecipeSlide = index;
                console.log("Current Recipe Slide: " + window.currentRecipeSlide)
            });

            document.querySelectorAll('#recipe-carousel-buttons button').forEach(btn => {
                if (btn.getAttribute('data-index') === String(index)) {
                    btn.classList.add('btn-neutral');
                    btn.classList.remove('btn-outline');
                } else {
                    btn.classList.remove('btn-neutral');
                    btn.classList.add('btn-outline');
                }
            });
        }

        goToSlide(window.currentRecipeSlide);
    </script>

    <script>
        function printElement(elementId) {
            const element = document.getElementById(elementId);
            if (!element) return alert("Element not found!");

            const styles = Array.from(document.querySelectorAll('style, link[rel="stylesheet"]'))
                .map(node => node.outerHTML)
                .join('\n');

            const printWindow = window.open('', '_blank', 'width=600,height=400');
            printWindow.document.write(`
    <html>
      <head>
        <title>Print</title>
        ${styles}
      </head>
      <body>
        ${element.outerHTML}
      </body>
    </html>
  `);

            printWindow.document.close();
            printWindow.focus();

            printWindow.onload = () => {
                printWindow.print();
                printWindow.close();
            };
        }
    </script>
{% endblock %}