{% extends "base.html" %}
{% load i18n static %}

{% block title %}
    {{ block.super }}
    {% if wizard.form.instance.pk %}
        - {% translate 'Edit Menu' %}
    {% else %}
        - {% translate 'Add Menu' %}
    {% endif %}
{% endblock %}

{% block head %}
    {{ wizard.form.media }}
    <script src="{% static 'js/formset-utils.js' %}"></script>
{% endblock %}


{% block main_content %}
    <div class="container pt-10 px-4 lg:pt-20 flex flex-col gap-20 pb-10">
        <div class="flex flex-col gap-1 w-full">
            <h1 class="self-start flex gap-5 items-center w-full">
                <c-add-menu-icon size="size-6 sm:size-8 md:size-10 lg:size-12 xl:size-14"></c-add-menu-icon>
                {% if wizard.form.instance.pk %}
                    {% translate 'Edit Menu' %}
                {% else %}
                    {% translate 'Add Menu' %}
                {% endif %}
            </h1>
            <c-go-back></c-go-back>
        </div>

        <div class="self-center flex flex-col gap-10 w-full max-w-screen md:w-3xl md:max-w-3xl">
            <ul class="steps steps-vertical step-primary lg:steps-horizontal w-full">
                <li class="step {% if wizard.steps.current|add:"0" >= 0 %}step-primary{% endif %}">
                    <p>
                        {% translate 'Details' %}
                    </p>
                </li>
                <li class="step {% if wizard.steps.current|add:"0" >= 1 %}step-primary{% endif %}">
                    <p>
                        {% translate 'Courses & Recipes' %}
                    </p>
                </li>
            </ul>

            <form method="post" id="wizard-form" enctype="multipart/form-data"
                  class="w-full flex flex-col gap-5 bg-base-200 p-4 xl:p-10 rounded-lg">
                {% csrf_token %}
                {{ wizard.management_form }}
                {{ wizard.form.management_form }}

                {% if wizard.form.non_form_errors %}
                    <div class="alert alert-outline alert-error">
                        {{ wizard.form.non_form_errors }}
                    </div>
                {% endif %}

                {% if wizard.form.non_field_errors %}
                    <div class="alert alert-outline alert-error">
                        {{ wizard.form.non_field_errors }}
                    </div>
                {% endif %}

                {% if wizard.steps.current == '0' %}
                    {% include "menus/partials/menu_form.html" with form=wizard.form %}
                {% elif wizard.steps.current == '1' %}
                    <h3 class="text-xl font-bold">{% translate 'Courses & Recipes' %}</h3>
                    <p class="text-sm text-base-content/70">{% translate 'Add the courses and select recipes for your menu.' %}</p>
                    {% include "menus/partials/menu_course_form.html" with forms=wizard.form.forms %}
                {% endif %}

                <div class="flex gap-1 justify-end">
                    {% if wizard.steps.prev %}
                        <button
                                name="wizard_goto_step"
                                type="submit"
                                value="{{ wizard.steps.prev }}"
                                class="btn btn-ghost btn-outline"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
                            </svg>
                        </button>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">
                        {% if wizard.steps.current == wizard.steps.last %}
                            {% translate 'Create Menu' %}
                        {% else %}
                            {% translate 'Next' %}
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
