{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
    {{ block.super }}

    <div class="container pt-10 px-2 mx-auto flex flex-col gap-10 items-center justify-start lg:max-w-3xl">
        <div class="w-full flex flex-col gap-5">
            <div>
                <h1>{% translate 'My Cookbook' %}</h1>
                <c-go-back></c-go-back>
            </div>

            <div id="search-state">
                <form class="w-full flex gap-2"
                      hx-get="{% url 'recipes:recipe_list_partial' %}"
                      hx-target="#recipe-search"
                      hx-trigger="submit, input[name='search'] keyup changed delay:500ms"
                >
                    <input type="hidden" name="open" value="{{ open|yesno:'1,0' }}">
                    <input type="hidden" name="include_user" value="1">

                    {% for key in selected_course_types %}
                        <input type="hidden" name="course_types" value="{{ key }}">
                    {% endfor %}

                    <div class="flex-1">
                        <c-input name="search"
                                 placeholder="{% translate 'Search cookbook...' %}"
                                 value="{{ search_query }}"
                                 w_full
                        ></c-input>
                    </div>
                </form>
            </div>

            <!-- HTMX SWAP TARGET -->
            <div id="recipe-search">
                {% include "recipes/partials/recipe_search.html" %}
            </div>
        </div>
    </div>
{% endblock %}

