{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ block.super }}
    - Your Favorite Recipes
{% endblock %}

{% block main_content %}
    {{ block.super }}

    <div class="max-w-7xl w-full mx-auto flex flex-col gap-10 items-center justify-start">
        <div class="self-start flex flex-col gap-1">
            <div class="flex items-center gap-5">
                <c-favorites-icon></c-favorites-icon>
                <h1>{% translate 'Favorites' %}</h1>
            </div>
            <c-go-back></c-go-back>
        </div>

        <div class="flex flex-col gap-10 w-full">
            {% if not object_list %}
                <div class="flex flex-col gap-5 items-center">
                    <p>{% translate "You don't have any Favorites added yet." %}</p>
                    <c-a url="{% url 'recipe-list' %}" class="btn btn-accent">{% translate 'Search in Recipes' %}</c-a>
                </div>
            {% else %}
                <c-a url="{% url 'recipe-list' %}" class="btn btn-accent w-fit self-end">{% translate 'Search in Recipes' %}</c-a>
                {% include "recipes/partials/recipe_list.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}