{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ block.super }}
    - {% translate 'Your Profile' %}
{% endblock %}

{% block main_content %}
    <div class="w-full container py-10 px-2">
        <div class="self-start flex flex-col gap-1">
            <h1>{% translate 'Your Profile' %}</h1>
            <c-go-back></c-go-back>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 gap-10 w-full min-w-0 pt-10">
            <div class="col-span-2 w-full flex flex-col md:px-0 lg:flex-row gap-5">
                <div class="shrink-0 shadow-md w-32 h-32 md:w-36 md:h-36 mask mask-hexagon-2 bg-base-300 group-hover/avatar:scale-105">
                    <p class="uppercase text-center text-base-content text-5xl! w-full h-full flex items-center justify-center">
                        {{ user.initial }}
                    </p>
                </div>

                <div class="flex-grow flex flex-col gap-5">
                    <h2 class="break-all wrap-break-word">{{ user.email }}</h2>

                    <div class="flex flex-col gap-2">
                        <p class="text-secondary font-bold">{{ object.get_level_display }}</p>
                        <progress title="{{ object.points }}" class="progress progress-accent w-56"
                                  value="{{ object.points }}" max="{{ object.max_points_to_next_level }}"></progress>
                        <small class="font-bold">{% blocktrans with points=object.missing_points_to_next_level level=object.get_next_level_display_name %}{{ points }} points missing till next level <span class="text-secondary">{{ level }}</span>{% endblocktrans %}</small>
                    </div>
                </div>
            </div>

            {% if object.badges.exists %}
            	<div class="w-full flex flex-col gap-1">
                    <p class="font-bold shrink-0">{% translate 'Badges:' %}</p>
                    <ul class="ps-0 w-full flex flex-1 gasp-2 flex-wrap items-center">
                        {% for badge in object.badges.all %}
                            <li class="badge badge-md badge-neutral badge-outline rounded-md"><small>{{ badge }}</small></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="col-span-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 w-full">
                <a href="{% url 'recipes:recipe-new' %}" class="w-full btn btn-primary btn-xl shadow-md"
                    hx-get="{% url 'recipes:recipe-new' %}"
                    hx-target="#modal-container"
                    hx-swap="innerHTML"
                >
                    <p class="flex gap-5 items-center">
                        <c-add-recipe-icon></c-add-recipe-icon>
                    <h5>{% translate 'Add Recipe' %}</h5>
                    </p>
                </a>

                <a href="{% url 'cookbook' %}" class="w-full btn btn-neutral btn-xl btn-outline shadow-md">
                    <div class="flex gap-5 items-center">
                        <c-cookbook-icon></c-cookbook-icon>
                        <div class="flex flex-col">
                            <h5>{% translate 'Cookbook' %}</h5>
                            <small>
                            <span class="font-thin">
                            {% blocktrans count recipe_count=object.user.recipe_set.all|length %}
                                {{ recipe_count }} Recipe
                            {% plural %}
                                {{ recipe_count }} Recipes
                            {% endblocktrans %}
                            </span>
                            </small>
                        </div>
                    </div>
                </a>

                <a href="{% url 'favorites' %}" class="w-full btn btn-neutral btn-xl btn-outline shadow-md">
                    <div class="flex gap-5 items-center">
                        <c-favorites-icon></c-favorites-icon>
                        <div class="flex flex-col">
                            <h5>{% translate 'Favorites' %}</h5>
                            <small>
                            <span class="font-thin">
                            {% blocktrans count recipe_count=object.user.favorite_recipes.all|length %}
                                {{ recipe_count }} Recipe
                            {% plural %}
                                {{ recipe_count }} Recipes
                            {% endblocktrans %}
                            </span>
                            </small>
                        </div>
                    </div>
                </a>

                {% comment %}<a href="{% url 'menu_create' %}" class="w-full btn btn-neutral btn-xl btn-outline shadow-md">
                    <p class="flex gap-5 items-center">
                        <c-add-menu-icon></c-add-menu-icon>
                    <h5>{% translate 'Add Menu' %}</h5>
                    </p>
                </a>{% endcomment %}
            </div>

            <div class="w-full grid grid-cols-2 gap-2 col-span-2 md:col-span-1">
                <c-a url="{% url 'account_change_password' %}"
                     class="btn btn-neutral btn-sm btn-outline w-full">{% translate 'Change Password' %}</c-a>
                <c-a url="#delete_confirmation_modal" onclick="showUserDeleteModal()"
                     class="btn btn-error btn-sm btn-outline w-full">{% translate 'Delete Account' %}</c-a>
            </div>
        </div>
    </div>
    <script>
        function showUserDeleteModal() {
            fetch("{% url 'profile_delete' %}")
                .then(response => response.text())
                .then(html => {
                    const modalContainer = document.createElement('div');
                    modalContainer.innerHTML = html;
                    document.body.appendChild(modalContainer);
                })
                .catch(error => console.error('Error fetching delete account modal:', error));
        }
    </script>
{% endblock %}
