{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ block.super }}
    - {% translate 'Cookbook' %}
{% endblock %}

{% block main_content %}
    {{ block.super }}

    <div class="container pt-10 px-4 lg:pt-20 mx-auto flex flex-col gap-20 items-center justify-start">
        <div class="self-start flex flex-col gap-1">
            <div class="flex items-center gap-5">
                <c-cookbook-icon size="size-6 sm:size-8 md:size-10 lg:size-12 xl:size-14"></c-cookbook-icon>
                <h1>{% translate 'Cookbook' %}</h1>
            </div>
            <c-go-back></c-go-back>
        </div>

        <div class="flex flex-col gap-10 w-full">
            {% if not object_list %}
                <div class="flex flex-col gap-5 items-center">
                    <p class="text-center">{% translate "You don't have any Recipes added yet." %}</p>
                    <c-a url="{% url 'recipe-new' %}" class="btn btn-primary dark:btn-accent">
                        <c-add-recipe-icon></c-add-recipe-icon>
                        {% translate 'Add Recipe' %}
                    </c-a>
                </div>
            {% else %}
                <c-a url="{% url 'recipe-new' %}"
                     class="btn btn-primary dark:btn-accent w-fit self-end">
                    <c-add-recipe-icon></c-add-recipe-icon>
                    {% translate 'Add Recipe' %}
                </c-a>
                {% include "recipes/partials/recipe_list.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}