{% extends "base.html" %}
{% load i18n static allauth account %}

{% block title %}
    {{ block.super }}
    - {% trans "Delete Your Account" %}
{% endblock title %}

{% block main_content %}
    <div class="flex flex-col gap-5 justify-start items-center max-w-sm text-center w-full">
        <h1>{% translate 'Delete Your Account' %}</h1>

        <div class="flex flex-col gap-5 justify-center items-center max-w-sm w-full">
            <div class="bg-base-primary w-full">
                {% if token_fail %}
                    <div class="pt-10 w-full text-center flex flex-col gap-3 items-center">
                        <p>The password reset link was invalid, possibly because it has already been used.</p>
                        <c-a url="{% url 'account_reset_password' %}"
                             class="underline btn btn-primary"
                        >
                            {% translate 'Try Again' %}
                        </c-a>
                    </div>
                {% else %}
                    {% url 'account_reset_password_from_key' as action_url %}
                    <form id="delete-form" method="post" class="flex flex-col gap-5 w-full text-start">
                        {% csrf_token %}

                        <p class="text-center">{% translate 'Are you sure you want to delete your account? This action cannot be undone.' %}</p>
                        <c-a url="{% url 'user-profile' user.username %}" class="btn btn-primary">
                            {% trans "Cancel" %}
                        </c-a>

                        <div class="flex flex-col w-full gap-2">
                            <div class="text-start">
                                <p>
                                    Please type your full name to confirm:
                                </p>
                                <c-input name="confirm_name" id="confirm_name" type="text"
                                         placeholder="{{ request.user.get_full_name }}"
                                ></c-input>
                            </div>

                            <div class="text-start">
                                <p>
                                    Please enter your email to confirm:
                                </p>
                                <c-input name="confirm_email" id="confirm_email" type="text"
                                         placeholder="{{ request.user.email }}"
                                ></c-input>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <button type="submit" id="submit-button" class="btn btn-error w-full" disabled>
                                {% trans "Delete Your Account" %}
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>

            <div class="text-center flex flex-col gap-1 items-center">
                <p> Please contact us if you have any trouble deleting your account. </p>
                <c-a animated url="" class="underline">{% translate 'Support' %}</c-a>
            </div>
        </div>
    </div>

    <script>
        const nameInput = document.getElementById('confirm_name');
        const emailInput = document.getElementById('confirm_email');
        const submitButton = document.getElementById('submit-button');

        const expectedName = "{{ request.user.get_full_name|escapejs }}";
        const expectedEmail = "{{ request.user.email|escapejs }}";

        function validateInputs() {
            const nameMatch = nameInput.value.trim() === expectedName;
            const emailMatch = emailInput.value.trim() === expectedEmail;
            submitButton.disabled = !(nameMatch && emailMatch);
        }

        nameInput.addEventListener('input', validateInputs);
        emailInput.addEventListener('input', validateInputs);
    </script>
{% endblock main_content %}
