{% extends "base.html" %}
{% load static %}

{% block title %}Page Not Found - Gourmet Wiki{% endblock %}

{% block meta_description %}Sorry, the page you're looking for cannot be found on Gourmet Wiki.{% endblock %}

{% block og_title %}Page Not Found - Gourmet Wiki{% endblock %}
{% block og_description %}Sorry, the page you're looking for cannot be found on Gourmet Wiki.{% endblock %}

{% block twitter_title %}Page Not Found - Gourmet Wiki{% endblock %}
{% block twitter_description %}Sorry, the page you're looking for cannot be found on Gourmet Wiki.{% endblock %}

{% block main_content %}
    <div class="container pt-10 px-2 flex flex-col items-center gap-5 justify-center text-center">
        <h1>404 - Page Not Found</h1>
        <p>Sorry, the page you're looking for doesn't exist or has been moved.</p>
        <div>
            <p>You might want to:</p>
            <ul class="list-disc list-inside text-center">
                <li>Check the URL for typos</li>
                <li>Go back to the previous page</li>
                <li>Start from our homepage</li>
            </ul>
        </div>
        <a href="/" class="btn btn-primary">Return to Homepage</a>
    </div>
{% endblock %}