{% extends "base.html" %}
{% load static %}

{% block title %}Server Error - Gourmet Wiki{% endblock %}

{% block meta_description %}We're experiencing some technical difficulties. Please try again later.{% endblock %}

{% block og_title %}Server Error - Gourmet Wiki{% endblock %}
{% block og_description %}We're experiencing some technical difficulties. Please try again later.{% endblock %}

{% block twitter_title %}Server Error - Gourmet Wiki{% endblock %}
{% block twitter_description %}We're experiencing some technical difficulties. Please try again later.{% endblock %}

{% block main_content %}
    <div class="container pt-10 px-2 flex flex-col items-center gap-5 justify-center text-center">
        <h1>500 - Server Error</h1>
        <p>Oops! Something went wrong on our end.</p>
        <div>
            <p>We're working to fix the issue. In the meantime, you can:</p>
            <ul class="list-disc list-inside text-center">
                <li>Refresh the page</li>
                <li>Try again later</li>
                <li>Return to our homepage</li>
            </ul>
        </div>
        <a href="/" class="btn btn-primary">Return to Homepage</a>
    </div>
{% endblock %}