@import "tailwindcss";
/*@import "@tailwindcss/typography";*/

@plugin "daisyui" {
    themes: forest --default, forest --prefersdark, forest;
}

@layer base {
    .file-input {
        @apply input bg-base-content text-accent-content w-full rounded-sm;
    }


    textarea, select, input[type="text"], input[type="password"], input[type="email"], input[type="file"], input[type="number"].custom-number {
        @apply input bg-base-content text-accent-content w-full rounded-sm outline-none ring-0 focus:ring-0 focus:outline-none;
    }

    input:focus, textarea:focus, select:focus {
        box-shadow: none !important;
        outline: none !important;
        border: 2px solid var(--color-secondary) !important;
    }

    input[type="file"] {
        display: none !important;
    }

    input[type="file"].custom-file-upload {
        display: block !important;
    }

    .custom-file-upload {
        @apply input bg-transparent border-secondary hover:bg-secondary cursor-pointer text-secondary hover:text-accent-content rounded-sm w-full flex items-center justify-center;
    }

    /*.custom-file-upload:hover {
        background-color: #007bff;
        color: white;
    }*/
    .labeled-number-input {
        @apply bg-base-content text-accent-content w-full rounded-sm flex items-center justify-between;
    }

    .labeled-number-input--label {
        @apply px-2;
    }

    input[type="checkbox"] {
        @apply checkbox checkbox-accent bg-base-content text-accent-content;
    }

    select {
        @apply input bg-base-content text-accent-content w-full;
    }

    .btn {
        @apply text-accent-content;
    }

    form {
        @apply flex flex-col gap-5;
    }

    label {
        color: var(--color-base-content);
    }

    span {
        color: var(--color-base-content);
    }

    h1 {
        @apply text-4xl font-bold;
        color: var(--color-primary);
    }

    h2 {
        @apply text-3xl font-semibold;
        color: var(--color-primary);
    }

    h3 {
        @apply text-2xl font-semibold;
        color: var(--color-secondary);
    }

    h4 {
        @apply text-xl font-medium;
        color: var(--color-secondary);
    }

    h5 {
        @apply text-lg font-medium;
        color: var(--color-primary);
    }

    h6 {
        @apply text-base font-medium;
        color: var(--color-primary);
    }

    p, a, small, label {
        @apply text-base font-medium;
        color: var(--color-base-content);
    }

    small {
        @apply text-base font-normal mb-2;
        color: var(--color-secondary);
    }
}

/*@plugin "daisyui"*/

/*
:root {
    --color-primary: #443634;
    --color-secondary: #A6988A;
    --color-accent: #7a5c4f;
    --color-base-primary: #FAF6F0;
    --color-base-secondary: #D8CFC4;
!*    --step-bg-accent: var(--color-accent);
    --step-bg-primary: var(--color-base-primary);
    --input-color-accent: var(--color-accent);*!
}

body, html {
    color: var(--color-primary);
}

.step::after {
    color: #2D2323;
    background-color: #A6988A;
    border-color: #A6988A;
    font-weight: 500;
}

.step.step-accent::after {
    color: #A6988A;
    background-color: #2D2323;
    border-color: #2D2323;
}

.step::before {
    background-color: #A6988A;
}

.file-input::file-selector-button {
    color: #2D2323;
}

.file-input::-webkit-file-upload-button {
    color: #2D2323;
}

input[type="text"], input[type="password"], input[type="email"] {
    @apply input input-base-secondary bg-base-secondary text-primary w-full;
}

input[type="checkbox"] {
    @apply checkbox checkbox-accent text-base-primary;
}

button {
    @apply btn btn-accent text-primary rounded-3xl hover:opacity-70;
}

form {
    @apply flex flex-col gap-5;
}

label {
    color: var(--color-primary);
}

span {
    color: var(--color-primary);
}

h1 {
    @apply text-4xl font-bold mb-4;
    color: var(--color-primary);
}

h2 {
    @apply text-3xl font-semibold mb-3;
    color: var(--color-primary);
}

h3 {
    @apply text-2xl font-semibold mb-3;
    color: var(--color-primary);
}

h4 {
    @apply text-xl font-medium mb-2;
    color: var(--color-primary);
}

h5 {
    @apply text-lg font-medium mb-2;
    color: var(--color-primary);
}

h6 {
    @apply text-base font-medium mb-2;
    color: var(--color-primary);
}

small {
    @apply text-base font-normal mb-2;
    color: var(--color-primary);
}*/
