@import "tailwindcss";
/*@import "@tailwindcss/typography";*/

@plugin "daisyui" {
    themes: gourmet --default, gourmet --prefersdark, gourmet;
}


@plugin "daisyui/theme" {
    name: "gourmet";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.018 155.826);
    --color-base-200: oklch(96% 0.044 156.743);
    --color-base-300: oklch(92% 0.084 155.995);
    --color-base-content: oklch(39% 0.095 152.535);
    --color-primary: oklch(87% 0.15 154.449);
    --color-primary-content: oklch(26% 0.065 152.934);
    --color-secondary: oklch(83% 0.128 66.29);
    --color-secondary-content: oklch(26% 0.079 36.259);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(26% 0.065 152.934);
    --color-neutral-content: oklch(98% 0.018 155.826);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(84% 0.238 128.85);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0rem;
    --radius-field: 1rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

@layer base {
    h1 {
        @apply text-4xl font-bold;
        color: var(--color-neutral);
    }

    h2 {
        @apply text-3xl font-semibold;
        color: var(--color-neutral);
    }

    h3 {
        @apply text-2xl font-semibold;
        color: var(--color-neutral);
    }

    h4 {
        @apply text-xl font-medium;
        color: var(--color-neutral);
    }

    h5 {
        @apply text-lg font-medium;
        color: var(--color-neutral);
    }

    h6 {
        @apply text-base font-medium;
        color: var(--color-neutral);
    }

    /*    .file-input {
            @apply input bg-base-content text-accent-content w-full rounded-sm;
        }


        textarea, select, input[type="text"], input[type="password"], input[type="email"], input[type="file"], input[type="number"].custom-number {
            @apply input bg-base-content text-accent-content w-full rounded-sm outline-none ring-0 focus:ring-0 focus:outline-none;
        }

        input:focus, textarea:focus, select:focus {
            box-shadow: none !important;
            outline: none !important;
            border: 2px solid var(--color-secondary) !important;
        }

        input[type="file"] {
            display: none !important;
        }

        input[type="file"].custom-file-upload {
            display: block !important;
        }

        .custom-file-upload {
            @apply input bg-transparent border-secondary hover:bg-secondary cursor-pointer text-secondary hover:text-accent-content rounded-sm w-full flex items-center justify-center;
        }

        !*.custom-file-upload:hover {
            background-color: #007bff;
            color: white;
        }*!
        .labeled-number-input {
            @apply bg-base-content text-accent-content w-full rounded-sm flex items-center justify-between;
        }

        .labeled-number-input--label {
            @apply px-2;
        }

        input[type="checkbox"] {
            @apply checkbox checkbox-accent bg-base-content text-accent-content;
        }

        select {
            @apply input bg-base-content text-accent-content w-full;
        }

        .btn {
            @apply text-accent-content;
        }

        form {
            @apply flex flex-col gap-5;
        }

        label {
            color: var(--color-base-content);
        }

        span {
            color: var(--color-base-content);
        }

        p, a, small, label {
            @apply text-base font-medium;
            color: var(--color-base-content);
        }

        small {
            @apply text-base font-normal mb-2;
            color: var(--color-secondary);
        }*/
}
