{% extends "base.html" %}
{% load i18n static %}

{% block main_content %}
    <div class="w-full flex flex-col gap-20">
        <!-- Hero Section -->
        <section
            class="relative flex flex-col overflow-hidden px-5 pt-20 py-30"
            aria-labelledby="hero-title"
        >
            <!-- Background image (decorative) -->
            <figure class="absolute inset-0 z-0" aria-hidden="true">
                <img
                    src="{% static 'images/hero_background.webp' %}"
                    alt=""
                    class="h-full w-full object-cover object-center"
                />
            </figure>

            <!-- Dark overlay (purely decorative) -->
            <div
                class="absolute inset-0 z-0 bg-accent/80"
                aria-hidden="true"
            ></div>

            <!-- Hero content -->
            <header
                class="relative z-10 flex flex-col items-center text-white"
            >
                <!-- Badge -->
                <div
                    class="inline-flex w-fit items-center gap-2 rounded-full border border-white bg-white/10 px-3 py-1.5 text-white opacity-70 shadow-sm shadow-white sm:px-4 sm:py-2"
                >
                    <c-favorites-icon
                        class="size-5!"
                        aria-hidden="true"
                    ></c-favorites-icon>

                    <small class="whitespace-nowrap">
                        {% translate "Your #1 knowledge kitchen" %}
                    </small>
                </div>

                <!-- Headline + description -->
                <div class="flex flex-col items-center gap-10 text-center mt-10">
                    <h1
                        id="hero-title"
                        class="max-w-lg hyphens-none text-secondary drop-shadow-secondary/70 drop-shadow-xs lg:max-w-3xl"
                    >
                        {% translate 'No ads. No guesswork. Just cooking.' %}
                    </h1>

                    <div class="mx-auto flex max-w-md flex-col gap-10 lg:max-w-2xl">
                        <p
                            class="h3 font-medium leading-none opacity-80"
                        >
                            {% blocktrans trimmed %}
                            By chefs and passionate home cooks.
                            Recipes that are cooked, tested, and recommended by the community.
                            {% endblocktrans %}
                        </p>

                        <p
                            class="mx-auto max-w-xs font-medium leading-none opacity-70 text-base-200 hyphens-none"
                        >
                            {% translate 'No distractions. No shortcuts. No experiments.' %}
                        </p>
                    </div>
                </div>

                <!-- Primary CTA -->
                <p class="mt-20">
                    <c-a
                        url="{% url 'account_signup' %}"
                        class="btn btn-lg md:btn-xl btn-primary drop-shadow-primary/50 drop-shadow-sm"
                    >
                        {% translate 'Join the Community' %}
                    </c-a>
                </p>
            </header>
        </section>


        <div class="container mx-auto px-5 md:px-0">
            <div class="flex flex-col gap-10 text-center">
                <h2 class="text-base-content">
                    {% translate 'Why Gourmet Wiki Makes Cooking Effortless' %}
                </h2>

                <div class="grid grid-cols-auto lg:grid-cols-3 gap-10">
                    <!-- Card 1 -->
                    <c-why-card
                        icon="{% static 'images/ad-blocker_icon.png' %}"
                        aria-hidden="true"
                        heading="{% translate 'Pure Focus on Cooking' %}"
                        subheading="{% translate 'Focus on what truly matters: cooking. No distractions, no ads – just recipes that spark your passion.' %}"
                    ></c-why-card>

                    <!-- Card 2 -->
                    <c-why-card
                        icon="{% static 'images/chefhat_icon.png' %}"
                        aria-hidden="true"
                        heading="{% translate 'Recipes You Can Trust' %}"
                        subheading="{% translate 'Created by professional chefs, designed for everyday kitchens. Every step clear, every dish succeeds.' %}"
                    ></c-why-card>

                    <!-- Card 3 -->
                    <c-why-card
                        icon="{% static 'images/community_icon.png' %}"
                        aria-hidden="true"
                        heading="{% translate 'Join a Vibrant Community' %}"
                        subheading="{% translate 'Connect with chefs and food lovers alike. Share ideas, discover new recipes, and become part of a culinary family.' %}"
                    ></c-why-card>
                </div>
            </div>
        </div>

        <!-- Top 4 Recipes Of The Day -->
        {% if daily_random_recipes %}
            <div class="bg-base-200 py-20">
                <div class="container mx-auto flex flex-col gap-10 px-5 md:px-0">
                    <h3>{% translate 'Daily Highlights' %}</h3>
                    {% include "recipes/partials/recipe_list.html" with object_list=daily_random_recipes %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}