{% extends "base.html" %}
{% load i18n static %}

{% block main_content %}
    <div class="w-full flex flex-col gap-20">
        <!-- Hero Section -->
        <div class="h-[400px] md:h-[600px] flex flex-col items-center justify-center relative py-10 md:p-10 xl:p-20 overflow-hidden">
            <!-- Background image -->
            <img src="{% static 'images/hero_background.webp' %}"
                 alt=""
                 class="absolute inset-0 w-full h-full object-cover object-center z-0" />
            <!-- Dark overlay -->
            <div class="absolute inset-0 bg-accent/70 z-0"></div>

            <!-- Content in front -->
            <div class="max-w-3xl relative z-10 flex flex-col gap-10 justify-start items-center p-5 text-white">
                <div class="w-fit inline-flex items-center gap-2 px-3 sm:px-4 py-1.5 sm:py-2 rounded-full shadow-sm shadow-white border-1 border-white bg-white/10 text-white text-xs sm:text-sm font-medium animate-bounce">
                    <c-favorites-icon></c-favorites-icon>
                    <span class="whitespace-nowrap">{% translate "Your #1 knowledge kitchen" %}</span>
                </div>

                <div class="flex flex-col gap-2">
                    <h1 class="text-secondary text-shadow text-center">{% translate 'Share Your Culinary Expertise' %}</h1>
                    <h2 class="text-shadow text-center">{% translate 'Join chefs and culinary experts in creating a reliable source for core recipes and techniques' %}</h2>
                </div>

                <c-a url="{% url 'account_signup' %}"
                     class="btn btn-lg md:btn-xl btn-primary flex gap-5">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="1.5" stroke="currentColor" class="size-6 md:size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"></path>
                    </svg>
                    {% translate 'Get Started' %}
                </c-a>
            </div>
        </div>

        <div class="container mx-auto px-5 md:px-0 py-20">
    <div class="flex flex-col gap-14 text-center">

        <h3 class="text-3xl md:text-4xl font-semibold text-base-content">
            {% translate "A Better Way to Find Recipes" %}
        </h3>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-10">

                    <!-- Card 1 -->
                    <div class="group rounded-2xl bg-base-100 p-8 shadow-sm hover:shadow-md transition">
                        <div class="mx-auto mb-6 flex h-20 w-20 items-center justify-center rounded-xl bg-base-200 group-hover:scale-105 transition">
                            <img class="h-10 w-10 md:h-12 md:w-12"
                                 src="{% static 'images/ad-blocker_icon.png' %}"
                                 alt="No Ads">
                        </div>
                        <h4 class="text-lg font-medium leading-snug">
                            {% blocktrans %}
                            Pure culinary experience.<br>
                            Zero ads.
                            {% endblocktrans %}
                        </h4>
                    </div>

                    <!-- Card 2 -->
                    <div class="group rounded-2xl bg-base-100 p-8 shadow-sm hover:shadow-md transition">
                        <div class="mx-auto mb-6 flex h-20 w-20 items-center justify-center rounded-xl bg-base-200 group-hover:scale-105 transition">
                            <img class="h-10 w-10 md:h-12 md:w-12"
                                 src="{% static 'images/chefhat_icon.png' %}"
                                 alt="Pro Recipes">
                        </div>
                        <h4 class="text-lg font-medium leading-snug">
                            {% blocktrans %}
                            Proven chef-level recipes<br>
                            that work anywhere.
                            {% endblocktrans %}
                        </h4>
                    </div>

                    <!-- Card 3 -->
                    <div class="group rounded-2xl bg-base-100 p-8 shadow-sm hover:shadow-md transition">
                        <div class="mx-auto mb-6 flex h-20 w-20 items-center justify-center rounded-xl bg-base-200 group-hover:scale-105 transition">
                            <img class="h-10 w-10 md:h-12 md:w-12"
                                 src="{% static 'images/community_icon.png' %}"
                                 alt="Community">
                        </div>
                        <h4 class="text-lg font-medium leading-snug">
                            {% blocktrans %}
                            Where chefs, home cooks,<br>
                            and food lovers connect.
                            {% endblocktrans %}
                        </h4>
                    </div>

                </div>
            </div>
        </div>


        <!-- Top 4 Recipes Of The Day -->
        {% if daily_random_recipes %}
            <div class="bg-base-200 py-10">
                <div class="container mx-auto flex flex-col gap-10 px-5 md:px-0">
                    <h3>{% translate 'Daily Highlights' %}</h3>
                    {% include "recipes/partials/recipe_list.html" with object_list=daily_random_recipes %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}