{% extends "base.html" %}
{% load static %}

{% block title %}Server Error - Gourmet Wiki{% endblock %}

{% block meta_description %}We're experiencing some technical difficulties. Please try again later.{% endblock %}

{% block og_title %}Server Error - Gourmet Wiki{% endblock %}
{% block og_description %}We're experiencing some technical difficulties. Please try again later.{% endblock %}

{% block twitter_title %}Server Error - Gourmet Wiki{% endblock %}
{% block twitter_description %}We're experiencing some technical difficulties. Please try again later.{% endblock %}

{% block main_content %}
    <div class="flex flex-col items-center gap-5 justify-center text-center px-4">
        <c-a url="{% url 'home' %}" title="Gourmet Wiki" class="hover:scale-105">
            <img class="max-w-sm mx-auto" src="{% static 'images/logo_landscape_gourmet-theme3.svg' %}"
                 alt="Gourmet Wiki">
        </c-a>
        <h2>500 - Server Error</h2>
        <p>Oops! Something went wrong on our end.</p>
        <div>
            <p>We're working to fix the issue. In the meantime, you can:</p>
            <ul class="list-disc list-inside text-center">
                <li>Refresh the page</li>
                <li>Try again later</li>
                <li>Return to our homepage</li>
            </ul>
        </div>
        <a href="/" class="btn btn-primary">Return to Homepage</a>
    </div>
{% endblock %}