django
django-cors-headers
django-debug-toolbar
django-vite
django-cotton
django-formtools
django-crispy-forms
crispy-daisyui
django-allauth
django-allauth[socialaccount]
psycopg2-binary
python-dotenv
gunicorn
whitenoise
pillow
listmonk
django-ratelimit
