django
django-cors-headers
django-debug-toolbar
django-vite
django-cotton
django-formtools
django-crispy-forms
crispy-daisyui
django-allauth
django-allauth[socialaccount]
psycopg[binary]
python-dotenv
gunicorn
whitenoise
pillow
listmonk
django-ratelimit
django-reversion
python-frontmatter
markdown
djangorestframework
langchain-community
langchain
langchainhub
gpt4all
langchain-ollama
easy-thumbnails