{% load i18n %}

<div class="dock dock-md lg:hidden bg-base-100">
    <c-a url="{% url 'users-profile-recipes' %}"
         class="hover:scale-105 tooltip tooltip-bottom tooltip-primary">
        <c-cookbook-icon></c-cookbook-icon>
        <span class="dock-label">{% translate 'Cookbook' %}</span>
    </c-a>

    <c-a url="{% url 'users-profile-favorite-recipes' %}"
         class="hover:scale-105 tooltip tooltip-bottom tooltip-primary">
        <c-favorites-icon></c-favorites-icon>
        <span class="dock-label">{% translate 'Favorites' %}</span>
    </c-a>

    <c-a url="{% url 'recipe-create' %}"
         class="hover:scale-105 text-center tooltip tooltip-bottom tooltip-primary">
        <c-add-recipe-icon></c-add-recipe-icon>
        <span class="dock-label">{% translate 'Add Recipe' %}</span>
    </c-a>

    <c-a url="{% url 'menu_create' %}"
         class="hover:scale-105 text-center tooltip tooltip-bottom tooltip-primary">
        <c-add-menu-icon></c-add-menu-icon>
        <span class="dock-label">{% translate 'Add Menu' %}</span>
    </c-a>
</div>