{% load forms %}

<c-vars type="text"
        input_class="input bg-base-200"
        default_class="w-full rounded-sm focus:outline-none focus:ring-0"
        checkbox_class="checkbox bg-base-200 rounded-sm"
        error_class="border-3 border-red-400"
></c-vars>

{% if slot %}
    {{ slot }}
{% else %}
    <label for="{% if field %}{{ field.id_for_label }}{% else %}{{ id }}{% endif %}"
           class="{% if not labeled %}hidden{% endif %}">
        {% if field and not label %}
            {{ field.label }}
        {% elif label %}
            {{ label }}
        {% endif %}
    </label>
{% endif %}
<input {{ field.field.widget.attrs|render_attrs }}
        type="{{ type }}"
        {% if value|stringformat:"s" == check_value|stringformat:"s" %}checked{% endif %}
        {% if disabled %}disabled{% endif %}
        id="{% if field %}{{ field.id_for_label }}{% else %}{{ id }}{% endif %}"
        name="{% if field %}{{ field.html_name }}{% else %}{{ name }}{% endif %}"
        value="{% if field %}{{ field.value|default_if_none:''|stringformat:'s' }}{% elif instance_value %}{{ instance_value }}{% else %}{{ value|default_if_none:'' }}{% endif %}"
        placeholder="{% if field %}{{ field.widget.attrs.placeholder|default_if_none:'' }}{% else %}{{ placeholder }}{% endif %}"
        class="{% if type == 'checkbox' %}{{ checkbox_class }}{% else %}{% if not plain_text %}{% if not disabled %}{{ input_class }}{% endif %} {{ default_class }}{% endif %}{% endif %} {{ class }}{% if field and field.errors %}{{ error_class }}{% endif %}"
>
{% if not no_errors %}
    {% for error in field.errors %}
        <div class="text-red-400 pt-1">
            - {{ error }}
        </div>
    {% endfor %}
{% endif %}
{% if field.help_text %}
    <p class="text-sm!">{{ field.help_text|safe }}</p>
{% endif %}
