<article
    class="group flex flex-col gap-5 rounded-2xl bg-base-100 p-8 shadow-sm transition hover:shadow-md"
>
    <header class="flex flex-col items-center text-center">
        <figure
            class="mx-auto mb-6 flex h-20 w-20 items-center justify-center rounded-xl bg-base-200 transition group-hover:scale-105"
        >
            <img
                src="{{ icon }}"
                width="40"
                height="40"
                loading="lazy"
                alt="{{ icon_alt }}"
                class="h-10 w-10 md:h-12 md:w-12"
            />
        </figure>

        <h3 class="font-semibold hyphens-none">
            {{ heading }}
        </h3>
    </header>

    <p class="text-base-content/80">
        {{ subheading }}
    </p>
</article>