{% extends 'base.html' %}

{% block main_content %}
    <div class="container pt-10 px-2 lg:pt-20 flex flex-col gap-20">
        <div class="w-full flex flex-col md:flex-row justify-between gap-5">
            <div>
                <h1>{{ article.title }}</h1>
                <c-go-back></c-go-back>
            </div>
        </div>

        <div class="bg-base-200 p-5 lg:p-10 rounded-lg prose prose-neutral max-w-none">
{#            <pre>{{ article.rendered_html }}</pre>#}

            {{ article.rendered_html|safe }}
        </div>
    </div>
{% endblock %}