{% extends 'base.html' %}
{% load i18n %}

{% block main_content %}
    <div class="container pt-10 px-2 lg:pt-20 flex flex-col gap-20">
        <div class="w-full flex flex-col md:flex-row justify-between gap-5">
            <div>
                <h1>{% translate 'Wiki' %}</h1>
                <c-go-back></c-go-back>
            </div>

            <form class="w-full md:w-fit flex gap-2 items-start" hx-get="{% url 'recipe-list-partial' %}"
                  hx-target="#recipe-list-container"
                  hx-trigger="submit, input[name='search'] keyup changed delay:500ms">
                <c-input name="search" placeholder="{% translate 'Search...' %}"
                         value="{{ search_query }}"></c-input>
                <button type="submit" class="btn btn-accent">{% translate 'Search' %}</button>
            </form>
        </div>

        <div class="flex flex-col gap-5">
            <h2>{% translate 'Categories' %}</h2>
            <div class="join join-vertical gap-5 rounded-lg">
                {% for category, articles in category_articles %}
                    <div class="collapse collapse-arrow join-item bg-base-200 rounded-lg">
                        <!-- Use SAME name for all radios if you want an accordion behavior -->
                        <input type="radio" name="category-accordion"
                               {% if forloop.counter0 == 0 %}checked="checked"{% endif %}/>

                        <div class="collapse-title">
                            <h3>{{ category.name }}</h3>
                        </div>

                        <div class="collapse-content">
                            <ul class="list-disc ps-10">
                                {% for article in articles %}
                                    <li>
                                        <a class="hover:underline" href="{% url 'wiki:article_detail' article.slug %}">{{ article.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}