<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Gourmet Wiki
        {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    {% block head %}

    {% endblock %}
</head>
<body class="w-full min-h-screen">
<div class="px-2 mx-auto">
    {% block main_content %}

    {% endblock %}
</div>

<script src="https://unpkg.com/htmx.org@1.9.10"></script>
</body>
</html>