{% load django_vite static %}

<!doctype html>
<html lang="en" data-theme="gourmet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Gourmet Wiki
        {% endblock %}
    </title>

    {% vite_hmr_client %}
    {% vite_asset 'static/js/main.js' %}

    {% block head %}
    {% endblock %}
</head>
<body class="w-full min-h-screen h-screen bg-base-100 prose">
{% include "partials/navbar.html" %}
<div class="relative h-full w-full max-w-7xl mx-auto flex flex-col gap-5 items-center justify-start pt-32">
    {% block main_content %}
    {% endblock %}
</div>

{% if messages %}
    <div class="absolute bottom-5 right-5 w-fit p-2 bg-base-300 rounded-sm">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<script src="https://unpkg.com/htmx.org@1.9.10"></script>

<script>
    const navbar = document.getElementById("navbar");

    window.addEventListener("scroll", () => {
        if (window.scrollY > 65) {
            navbar.classList.add("bg-base-200", "shadow-md");
            navbar.classList.remove("bg-transparent");
        } else {
            navbar.classList.remove("bg-base-200", "shadow-md");
            navbar.classList.add("bg-transparent");
        }
    });
</script>
</body>
</html>