{% load i18n %}

<div id="recipe_image-{{ form_index }}"
     class="formset-form flex rounded-md items-start w-full cursor-grab border-3 border-transparent"
     data-store-id="{{ form.image.id_for_label }}"
>
    {{ form.id }}
    {{ form.DELETE.as_hidden }}
    {{ form.order.as_hidden }}

    <div class="formset-form-content flex gap-5 items-center w-full relative">
        <label for="{{ form.image.id_for_label }}" class="hidden">
            {{ form.image.label }}
        </label>

        <div class="hidden">
            {{ form.image }}
        </div>

        <div class="preview group/preview relative w-full">
            <p class="step-label text-secondary font-bold text-sm absolute -top-5 -left-3 z-20">{{ form_index|add:"1" }}.</p>

            <div class="preview-image w-full h-24 rounded-md bg-cover bg-center bg-no-repeat"
                 style="background-image: {% if form.instance.pk %}url('{{ form.instance.image.url }}'){% else %}none{% endif %};"></div>

            <p class="absolute -bottom-2 -right-2 hover:scale-105 bg-red-400 rounded-full p-1 remove-image cursor-pointer self-center"
               title="{% translate 'Remove this Image' %}"
               onclick="this.closest('.formset-form').classList.add('hidden'); this.closest('.formset-form-content').remove(); document.getElementById('{{ form.DELETE.id_for_label }}').checked = true; document.getElementById('{{ form.DELETE.id_for_label }}').value = 'on'; reindexFormset('#image-formset', '#id_recipe_image-TOTAL_FORMS'); updateMsg();"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor"
                     class="size-6 text-base-content!">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"></path>
                </svg>
            </p>
        </div>
    </div>

    {% if form.image.help_text %}
        <small class="form-text text-muted">
            {{ form.image.help_text }}
        </small>
    {% endif %}

    {% for error in form.image.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
    {% endfor %}
</div>

<script>
</script>