{% load i18n %}

<div>
    <div id="recipe_ingredient-{{ form_index }}" class="formset-form flex items-start gap-3">
        <div class="grid grid-cols-3 gap-5 items-start w-full">
            {{ form.id }}
            {{ form.DELETE.as_hidden }}
            {{ form.order.as_hidden }}

            <!-- Ingredient -->
            <div>
                <c-select :field="form.ingredient" :instance_value="form.instance.ingredient.id"></c-select>
            </div>

            <!-- Ingredient Quantity -->
            <div>
                <c-input :field="form.quantity" type="number" :instance_value="form.instance.quantity"></c-input>
            </div>

            <!-- Ingredient Unit & Delete -->
            <div class="flex gap-5">
                <c-select :field="form.unit" :instance_value="form.instance.unit.id"></c-select>

                <p class="cursor-pointer self-center w-fit"
                   title="{% translate 'Remove this Ingredient' %}"
                   onclick="this.closest('.formset-form').hidden = true; document.getElementById('{{ form.DELETE.id_for_label }}').checked = true; document.getElementById('{{ form.DELETE.id_for_label }}').value = 'on'; reindexFormset('#ingredient-formset', '#id_recipe_ingredient-TOTAL_FORMS');"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor"
                         class="size-6 text-error">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"></path>
                    </svg>
                </p>
            </div>
        </div>
    </div>
</div>
