{% load i18n %}


<div class="grid gird-cols-1 w-3xl gap-5">
    {{ wizard.form.management_form }}
    <input type="hidden" id="form-index-counter" value="{{ wizard.form.total_form_count }}">

    <div id="preparation-step-formset" class="flex flex-col gap-5 w-full">
        {% for form in forms %}
            {% include 'recipes/partials/preparation_step_form_row.html' with form=form form_index=forloop.counter0 %}
        {% endfor %}
    </div>

    <button type="button"
            class="btn btn-secondary w-fit"
            hx-get="{% url 'add_preparation_step_form' %}"
            hx-target="#preparation-step-formset"
            hx-swap="beforeend"
            hx-vals="js:{form_count: document.querySelectorAll('#preparation-step-formset .formset-form').length}"
            id="add-preparation-step">
        {% translate '+ Add Preparation Step' %}
    </button>

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        focusFirstInput();

        document.addEventListener('htmx:afterSwap', function (event) {
            focusFirstInput();
        });

        function focusFirstInput() {
            const forms = document.querySelectorAll('.formset-form');
            const lastForm = forms[forms.length - 1];
            const firstInput = lastForm.querySelector('input:not([type="hidden"])');

            if (firstInput) {
                firstInput.focus();
            }

            reindexFormset('#preparation-step-formset', '#id_recipe_preparation_step-TOTAL_FORMS');
        }
    });
</script>

<script>
    window.addEventListener('load', () => {
        (function () {
            const sortable = document.querySelector("#preparation-step-formset");

            console.log("SORTABLE")
            console.log(sortable)

            new Sortable(sortable, {
                animation: 150,
                dragClass: 'text-secondary!',
                handle: '.drag-handle',
                onEnd: () => reindexFormset('#preparation-step-formset', '#id_recipe_preparation_step-TOTAL_FORMS'),
            });
        })();
    });
</script>
