{% load i18n %}


<div class="grid gird-cols-1 w-3xl gap-5">
    {{ wizard.form.management_form }}
    {% if wizard.form.non_form_errors %}
        <div class="alert alert-danger">
            {{ wizard.form.non_form_errors }}
        </div>
    {% endif %}
    {% if wizard.form.non_field_errors %}
        <div class="alert alert-danger">
            {{ wizard.form.non_field_errors }}
        </div>
    {% endif %}

    <input type="hidden" id="form-index-counter" value="{{ wizard.form.total_form_count }}">

    <div id="image-formset" class="grid grid-cols-5 gap-5 w-full">
        {% for form in forms %}
            {% include "recipes/partials/image_form_row.html" with form=form form_index=forloop.counter0 %}
        {% endfor %}
        <p id="no-images-uploaded"
           class="w-max {% if forms %}hidden{% endif %}">
            {% translate 'No Images uploaded yet.' %}
        </p>
    </div>

    <div id="upload-image"
         class="btn btn-secondary w-fit"
         hx-get="{% url 'add_image_form' %}"
         hx-target="#image-formset"
         hx-swap="beforeend"
         hx-vals="js:{form_count: document.querySelectorAll('#image-formset .formset-form').length}"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor" class="size-6 text-current">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m6.75 12-3-3m0 0-3 3m3-3v6m-1.5-15H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"></path>
        </svg>
        {% translate 'Upload Image (max. 10 files)' %}
    </div>

    <script>
        window.addEventListener('load', () => {
            (function () {
                const sortable = document.querySelector("#image-formset");

                console.log("SORTABLE")
                console.log(sortable)

                new Sortable(sortable, {
                    animation: 150,
                    dragClass: 'border-secondary!',
                    onEnd: () => reindexFormset('#image-formset', '#id_recipe_image-TOTAL_FORMS'),
                });
            })();
        });

        document.addEventListener('DOMContentLoaded', () => {
            document.addEventListener('htmx:configRequest', function (event) {
                const totalFormsInput = document.querySelector('#id_recipe_image-TOTAL_FORMS');
                const totalForms = parseInt(totalFormsInput.value);

                if (totalForms >= 10) {
                    event.preventDefault();
                }
            });

            document.addEventListener('htmx:afterSwap', function (event) {
                const formset = document.querySelector("#image-formset");
                const forms = formset.querySelectorAll('.formset-form');
                const lastForm = forms[forms.length - 1];
                const imageInput = lastForm.querySelector('input[id$="image"]');

                updateMsg();
                if (imageInput) {
                    imageInput.click();
                }

                reindexFormset('#image-formset', '#id_recipe_image-TOTAL_FORMS');
            });

            document.getElementById('image-formset').addEventListener('change', (event) => {
                const input = event.target;
                console.log("INPUT: ")
                console.log(input)
                if (input.matches('input[type="file"]')) {
{% comment %}                    const storeId = input.id;
                    const label = document.getElementById(`${storeId}--name`);
                    if (label) {
                        label.textContent = input.files[0] ? input.files[0].name : "No file chosen";
                    }{% endcomment %}
                }
            });
        });

        function updateMsg() {
            const totalFormsInput = document.querySelector('#id_recipe_image-TOTAL_FORMS');
            const noImagesUploadedMsg = document.getElementById('no-images-uploaded');

            if (parseInt(totalFormsInput.value) >= 1) {
                noImagesUploadedMsg.classList.add('hidden');
            } else if (parseInt(totalFormsInput.value) === 0) {
                noImagesUploadedMsg.classList.remove('hidden');
            }
        }

        function imageUploaded() {
            const uploadImage = document.getElementById('upload-image');
            console.log("Upload image: ")
            console.log(uploadImage)
            console.log("Files: ")
            console.log(uploadImage.files)
            const formset = document.getElementById('image-formset');

            updateMsg();

            const forms = formset.querySelectorAll('.formset-form')
            const lastForm = forms[forms.length - 1]
            console.log(lastForm)
            const imageLabel = lastForm.querySelector('span')
            const imageInput = lastForm.querySelector('input[id$="image"]')

            const previewImage = lastForm.querySelector('.preview-image')
            console.log(imageLabel)
            console.log(imageInput)

            imageLabel.textContent = uploadImage.files[0] ? uploadImage.files[0].name : "No file chosen";

            console.log("I am here: ")
            console.log(uploadImage.files)

            if (uploadImage.files && uploadImage.files[0] && !imageInput.files) {
                imageInput.files = uploadImage.files;
                {#const fileTransfer = new DataTransfer();#}
                const imageUrl = URL.createObjectURL(uploadImage.files[0]);
                previewImage.style.backgroundImage = `url("${imageUrl}")`;
                {#fileTransfer.items.add(uploadImage.files[0]);#}
                {#imageInput.files = fileTransfer.files;#}
            } else {
                {#previewImage.style.backgroundImage = `url("${URL.createObjectURL(imageInput.files[0])}")`;#}
            }
        }
    </script>
