{% load i18n %}

<div class="print:hidden flex items-center gap-2 w-fit">
    <button
            class="btn btn-neutral btn-outline"
            onclick="
                                        event.preventDefault();
                                        const input = document.getElementById('portions');
                                        const current = parseInt(input.value) || 0;
                                        if (current > 0) input.value = current - 1;
                                        this.setAttribute('hx-vals', JSON.stringify({portions: input.value}));
                                        "
            hx-get="{% url 'calculate_scaled_ingredients' recipe_id=recipe.pk %}"
            hx-target="{{ hx_target }}"
            hx-swap="outerHTML"
    >
        -
    </button>

    <div class="flex flex-row-reverse gap-1 items-center w-fit">
        <c-input id="portions" name="portions" value="{{ portions_value }}" disabled
                 class="text-center max-w-12 font-bold underline"
                 labeled
                 label="{% translate 'Pers.' %}"></c-input>
    </div>

    <button
            class="btn btn-neutral btn-outline"
            onclick="
                                        event.preventDefault();
                                        const input = document.getElementById('portions');
                                        const current = parseInt(input.value) || 0;
                                        input.value = current + 1;
                                        this.setAttribute('hx-vals', JSON.stringify({portions: input.value}));
                                        "
            hx-get="{% url 'calculate_scaled_ingredients' recipe_id=recipe.pk %}"
            hx-target="{{ hx_target }}"
            hx-swap="outerHTML">
        +
    </button>
</div>