{% if messages %}
    <ul class="w-full flex flex-col gap-10">
        {% for message in messages %}
            <li class="w-full flex flex-row-reverse gap-2 items-center justify-between alert
                {% if 'success' in message.tags %}
                    alert-success text-success-content
                {% elif 'error' in message.tags %}
                    alert-error
                {% elif 'warning' in message.tags %}
                    alert-warning
                {% elif 'info' in message.tags %}
                    alert-info
                {% else %}
                    bg-base-300
                {% endif %}
            ">
                <button onclick="this.parentElement.remove()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="grow-0 h-4 w-4" fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>

                <p class="grow leading-tight">{{ message }}</p>
            </li>
        {% endfor %}
    </ul>

    <script>
        document.querySelectorAll('.alert').forEach((el) => {
            setTimeout(() => {
                el.style.transition = 'opacity 0.5s ease';
                el.style.opacity = '0';

                setTimeout(() => {
                    el.remove();
                }, 500);
            }, 5000);
        });
    </script>
{% endif %}
