{% extends "base.html" %}
{% load recipe_tags i18n static %}

{% block title %}
    {{ block.super }}
    - {{ object.name }}
{% endblock %}


{% block main_content %}
    {{ block.super }}

    <div class="w-full flex flex-col gap-10 items-center justify-start p-2 pb-10">
        <div class="w-full flex justify-between">
            <div class="flex flex-col gap-1">
                <c-a animated reverted visible_animation url="javascript:history.back();">Go back</c-a>
            </div>
            <div class="flex gap-5 items-center">
                {% include "recipes/partials/favorite_button.html" %}
                {% if recipe.created_by == user %}
                    <c-rating average_rating="{{ recipe.average_rating }}"></c-rating>
                    <c-a animated type="btn" url="{% url 'recipe-edit' recipe_id=object.pk %}" class="btn-neutral!">Edit
                        Recipe
                    </c-a>
                {% else %}
                    <c-rating-action average_rating="{{ recipe.average_rating }}"></c-rating-action>
                {% endif %}
            </div>
        </div>

        <div id="print-area" class="flex flex-col gap-10 w-full">
            {% include "recipes/partials/recipe_detail.html" %}
        </div>
    </div>

    <script>
        function printElement(elementId) {
            const element = document.getElementById(elementId);
            if (!element) return alert("Element not found!");

            const styles = Array.from(document.querySelectorAll('style, link[rel="stylesheet"]'))
                .map(node => node.outerHTML)
                .join('\n');

            const printWindow = window.open('', '_blank', 'width=600,height=400');
            printWindow.document.write(`
    <html>
      <head>
        <title>Print</title>
        ${styles}
      </head>
      <body>
        ${element.outerHTML}
      </body>
    </html>
  `);

            printWindow.document.close();
            printWindow.focus();

            printWindow.onload = () => {
                printWindow.print();
                printWindow.close();
            };
        }
    </script>
{% endblock %}