{% extends "base.html" %}

{% block title %}
    {{ block.super }}
    - Recipes
{% endblock %}

{% block main_content %}
    {{ block.super }}

    <div class="grid grid-cols-4 gap-3 justify-items-center w-fit mx-auto">
        {% for recipe in object_list %}
            <div class="card bg-base-100 w-96 shadow-sm">
                <figure class="h-56">
                    <img src="{{ recipe.thumbnail_image.url }}" alt="{{ recipe.name }}">
                </figure>
                <div class="card-body">
                    <h2 class="card-title">
                        {{ recipe.name }}
                        <div class="badge badge-neutral">{{ recipe.created_by }}</div>
                    </h2>
                    <p>{{ recipe.description }}</p>
                    <div class="card-actions justify-end">
                        <div class="badge badge-outline">{{ recipe.total_cost }} €</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}