{% extends "base.html" %}

{% block title %}
    {{ block.super }}
    - Your Profile
{% endblock %}

{% block main_content %}
    <h1 class="self-start flex flex-col gap-1 items-start">
        Your Profile <br>
        <small class="text-accent!">@{{ user.username }}</small>
        {% include "partials/go_back.html" %}
    </h1>

    <div class="grid grid-cols-2 gap-5 w-full">
        <div class="flex gap-5">
            <div class="w-36 h-36 col-span-2 avatar group/avatar cursor-pointer dropdown dropdown-right dropdown-end">
                <div class="mask mask-hexagon-2">
                    <img src="{{ object.avatar.url }}" alt="Avatar"/>
                </div>

                {% comment %}<div tabindex="0"
                 role="button"
                 class="absolute bottom-0 right-0 bg-base-primary w-12 h-12 text-accent-secondary rounded-full hover:text-accent hover:scale-105"
            >
                <div class="h-full w-full flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"></path>
                    </svg>
                </div>
            </div>

            <ul tabindex="0"
                class="dropdown-content menu p-2 w-40 bg-accent rounded-lg"
            >
                <li>{% include "partials/go_to.html" with url_name="" onclick="enterEditMode(event);" text="Edit Avatar" %}</li>
                <li>{% include "partials/go_to.html" with url_name="users-profile" text="Delete Avatar" %}</li>
            </ul>{% endcomment %}
            </div>

            <div class="flex flex-col gap-1">
                <p class="underline">Your details:</p>
                <div>
                    <p>{{ object.user.get_full_name }}</p>
                    <p>{{ object.user.email }}</p>
                </div>
            </div>
        </div>

        <div class="col-span-2 grid grid-cols-4 gap-5 w-full">
            <a href="{% url 'recipe-create' %}"
               class="h-full w-full border-3 border-base-primary px-5 py-10 rounded-lg cursor-pointer transition-shadow group hover:bg-base-primary shadow">
                <h2 class="text-accent!">Craft new Recipe</h2>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor"
                     class="text-accent-secondary! size-6 transition-transform duration-300 group-hover:translate-x-2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
                </svg>
            </a>

            <a href="{% url 'users-profile-recipes' %}"
               class="h-full w-full border-3 border-base-primary px-5 py-10 rounded-lg cursor-pointer transition-shadow group hover:bg-base-primary shadow">
                <h2 class="text-accent!">Your Recipes</h2>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor"
                     class="text-accent-secondary! size-6 transition-transform duration-300 group-hover:translate-x-2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}
