{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ block.super }}
    - {% translate 'Cookbook' %}
{% endblock %}

{% block main_content %}
    {{ block.super }}

    <div class="max-w-7xl w-full mx-auto flex flex-col gap-10 items-center justify-start">
        <div class="self-start flex flex-col gap-1">
            <div class="flex items-center gap-5">
                <c-cookbook-icon></c-cookbook-icon>
                <h2>{% translate 'Cookbook' %}</h2>
            </div>
            <c-a animated reverted visible_animation url="javascript:history.back();">Go back</c-a>
        </div>

        <div class="flex flex-col gap-10 w-full">
            {% if not object_list %}
                <div class="flex flex-col gap-5 items-center">
                    <p>{% translate "You don't have any Recipes added yet." %}</p>
                    <c-a url="{% url 'recipe-create' %}" class="btn btn-accent">
                        <c-add-recipe-icon></c-add-recipe-icon>
                        {% translate 'Add Recipe' %}
                    </c-a>
                </div>
            {% else %}
                <c-a url="{% url 'recipe-create' %}"
                     class="btn btn-accent w-fit self-end">
                    <c-add-recipe-icon></c-add-recipe-icon>
                    {% translate 'Add Recipe' %}
                </c-a>
                {% include "recipes/partials/recipe_list.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}