{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ block.super }}
    - {% translate 'Cookbook' %}
{% endblock %}

{% block main_content %}
    {{ block.super }}

    <div class="max-w-7xl w-full mx-auto flex flex-col gap-10 items-center justify-start">
        <div class="self-start flex flex-col gap-1">
            <h1 class="self-start w-full flex items-center gap-5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="size-8 text-neutral drop-shadow-sm">
                    <path d="M5.566 4.657A4.505 4.505 0 0 1 6.75 4.5h10.5c.41 0 .806.055 1.183.157A3 3 0 0 0 15.75 3h-7.5a3 3 0 0 0-2.684 1.657ZM2.25 12a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3v-6ZM5.25 7.5c-.41 0-.806.055-1.184.157A3 3 0 0 1 6.75 6h10.5a3 3 0 0 1 2.683 1.657A4.505 4.505 0 0 0 18.75 7.5H5.25Z"></path>
                </svg>
                {% translate 'Cookbook' %}
            </h1>
            <c-a animated reverted visible_animation url="javascript:history.back();">Go back</c-a>
        </div>

        <div class="flex flex-col gap-10 w-full">
            {% if not object_list %}
                <div class="flex flex-col gap-5 items-center">
                    <p>{% translate "You don't have any Recipes added yet." %}</p>
                    <div class="btn btn-secondary">
                        {% include "partials/go_to.html" with url_name="recipe-create" text="Add Recipe" %}
                    </div>
                </div>
            {% else %}
                <div class="btn btn-secondary self-end">
                    {% include "partials/go_to.html" with url_name="recipe-create" text="Add Recipe" %}
                </div>
                {% include "recipes/partials/recipe_list.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}