{% extends "base.html" %}

{% block title %}
    {{ block.super }}
    - Your Recipes
{% endblock %}

{% block main_content %}
    {{ block.super }}

    <div class="max-w-7xl w-full mx-auto flex flex-col items-center justify-start pt-10">

        <h1 class="self-start flex flex-col gap-1">
            Your Recipes <br>
            {% include "partials/go_back.html" %}
        </h1>

        <div class="flex flex-col w-full">
            <div class="btn btn-accent w-fit self-end">
                {% include "partials/go_to.html" with url_name="recipe-create" text="Create Recipe" %}
            </div>
            {% include "partials/recipe_list.html" %}
        </div>
    </div>
{% endblock %}