{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ block.super }}
    {% if wizard.form.instance.pk %}
        - {% translate 'Edit Recipe' %}
    {% else %}
        - {% translate 'Add Recipe' %}
    {% endif %}
{% endblock %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block main_content %}
    <div class="container pt-10 px-4 lg:pt-20 flex flex-col gap-20 pb-10">
        <div class="flex flex-col gap-1 w-full">
            <h1 class="self-start flex gap-5 items-center w-full">
                {% if wizard.form.instance.pk %}
                    <c-edit-recipe-icon size="size-6 sm:size-8 md:size-10 lg:size-12 xl:size-14"></c-edit-recipe-icon>
                    {% translate 'Edit Recipe' %}
                {% else %}
                    <c-add-recipe-icon size="size-6 sm:size-8 md:size-10 lg:size-12 xl:size-14"></c-add-recipe-icon>
                    {% translate 'Add Recipe' %}
                {% endif %}
            </h1>
            <c-go-back></c-go-back>
        </div>

        <div class="self-center flex flex-col gap-10 w-full max-w-screen md:w-3xl md:max-w-3xl">
            <ul class="steps steps-vertical step-primary lg:steps-horizontal w-full">
                <li class="step {% if wizard.steps.current|add:"0" >= 0 %}step-primary{% endif %}">
                    <p>
                        {% translate 'Details' %}
                    </p>
                </li>
                <li class="step {% if wizard.steps.current|add:"0" >= 1 %}step-primary{% endif %}">
                    <p>
                        {% translate 'Ingredients' %}
                    </p>
                </li>
                <li class="step {% if wizard.steps.current|add:"0" >= 2 %}step-primary{% endif %}">
                    <p>
                        {% translate 'Preparation Steps' %}
                    </p>
                </li>
                <li class="step {% if wizard.steps.current|add:"0" >= 3 %}step-primary{% endif %}">
                    <p>
                        {% translate 'Images' %}
                    </p>
                </li>
            </ul>
            <form method="post" id="wizard-form" enctype="multipart/form-data"
                  class="w-full flex flex-col gap-5">
                {% csrf_token %}
                {{ wizard.management_form }}

                {% if wizard.form.non_form_errors %}
                    <div class="alert alert-outline alert-error rounded-sm">
                        {{ wizard.form.non_form_errors }}
                    </div>
                {% endif %}

                {% if wizard.form.non_field_errors %}
                    <div class="alert alert-outline alert-error rounded-sm">
                        {{ wizard.form.non_field_errors }}
                    </div>
                {% endif %}

                {% if wizard.steps.current == '0' %}
                    {% include "recipes/partials/recipe_details_form.html" with form=wizard.form %}
                {% elif wizard.steps.current == '1' %}
                    {% include 'recipes/partials/recipe_ingredients_form.html' with forms=wizard.form.forms form_index=forloop.counter0 %}
                {% elif wizard.steps.current == '2' %}
                    {% include 'recipes/partials/recipe_preparation_step_form.html' with forms=wizard.form.forms form_index=forloop.counter0 %}
                {% elif wizard.steps.current == '3' %}
                    {% include 'recipes/partials/recipe_images_form.html' with forms=wizard.form.forms form_index=forloop.counter0 %}
                {% endif %}

                <div class="flex gap-2 justify-end">
                    {% if wizard.steps.prev %}
                        <button
                                name="wizard_goto_step"
                                type="submit"
                                value="{{ wizard.steps.prev }}"
                                class="btn btn-neutral"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
                            </svg>
                        </button>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">
                        {% if wizard.steps.current == wizard.steps.last %}
                            {% translate 'Create Recipe' %}
                        {% else %}
                            {% translate 'Next' %}
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (document.querySelector('#ingredient-formset')) {
                reindexFormset('#ingredient-formset', '#id_recipe_ingredient-TOTAL_FORMS');
            }
            if (document.querySelector('#image-formset')) {
                reindexFormset('#image-formset', '#id_recipe_image-TOTAL_FORMS');
            }
            if (document.querySelector('#preparation-step-formset')) {
                reindexFormset('#preparation-step-formset', '#id_recipe_preparation_step-TOTAL_FORMS');
            }
        });
    </script>
{% endblock %}
