{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
	<div class="w-full container flex flex-col gap-10 px-5 md:px-0 my-10 lg:max-w-3xl">
        <header class="w-full">
            <h1>{% translate 'Edit Recipe' %}</h1>
            <p>{% translate 'Add Ingredients, Steps and other Details' %}</p>
        </header>
    
        <div class="w-full flex flex-col gap-10">
            {% include 'recipes/_recipe_name_form.html' %}

            <!-- RECIPE DETAILS -->
            <div class="w-full">
                <h2>{% translate 'Details' %}</h2>

                <div class="w-full border-1 border-neutral p-5 rounded-lg">
                    {% include 'recipes/_recipe_details_form.html' %}
                </div>
            </div>

            <!-- RECIPE INGREDIENTS -->
            <div class="w-full">
                <h2>{% translate 'Ingredients' %}</h2>

                <div class="w-full border-1 border-neutral p-5 rounded-lg">
                    {% include 'recipes/_recipe_ingredients_form.html' %}
                </div>
            </div>

            <!-- RECIPE STEPS -->
            <div class="w-full">
                <h2>{% translate 'Steps' %}</h2>

                <div class="w-full border-1 border-neutral p-5 rounded-lg">
                    {% include 'recipes/_recipe_steps_form.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



<hr>

<h2>Schritte</h2>
<ol>
  {% for step in recipe.steps.all %}
    <li>{{ step.text }}</li>
  {% empty %}
    <li>Noch keine Schritte</li>
  {% endfor %}
</ol>

<form method="post" action="{% url 'step_add' recipe.id %}">
  {% csrf_token %}
  {{ step_form.as_p }}
  <button type="submit">Schritt hinzufügen</button>
</form>

<hr>

{#<form method="post" action="{% url 'recipe_publish' recipe.id %}">#}
{#  {% csrf_token %}#}
{#  <button type="submit">Rezept veröffentlichen</button>#}
{#</form>#}
