{% load i18n %}

{% if user.is_authenticated %}
    <form id="favorite-button"
          method="post"
          hx-post="{% url 'recipe-favorite' recipe.pk %}"
          hx-target="#favorite-button"
          hx-swap="outerHTML"
          class="flex flex-col items-center justify-center"
    >
        {% csrf_token %}
        <button type="submit" title="{% trans 'Add to favorites' %}">
            {% if user in recipe.favorite_by.all %}
                <c-favorites-icon class="text-red-400"></c-favorites-icon>
            {% else %}
                <c-favorites-icon class="text-primary-content"></c-favorites-icon>
            {% endif %}
        </button>
    </form>
{% else %}
    <c-a class="underline" url="{% url 'account_login' %}?next={% url 'recipes:recipe-detail' recipe.slug %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
             class="size-8 text-primary">
            <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"></path>
        </svg>
    </c-a>
{% endif %}
