{% load i18n %}

<div id="filters-toggle" class="flex flex-col gap-2">
    <button
        class="btn btn-sm mb-2 btn-outline"
        hx-get="{% url 'recipes:recipe_list_partial' %}"
        hx-target="#recipe-search"
        hx-include="#search-state"
        hx-vals='{"open": "{{ open|yesno:'0,1' }}"}'
    >
        {% if open %}
            {% translate "Hide Filters" %}
        {% else %}
            {% translate "Show Filters" %}
        {% endif %}
    </button>

    {% if open %}
        {% include "recipes/partials/recipe_filters.html" %}
    {% endif %}
</div>
