{% load i18n %}

<div>
    <div id="recipe_ingredient-{{ form_index }}" class="formset-form grid grid-cols-1 md:grid-cols-2 items-start gap-2 p-2 rounded-lg border-[1px] border-base-300">
        {{ form.id }}
        {{ form.DELETE.as_hidden }}
        {{ form.order.as_hidden }}

        <!-- Ingredient -->
        <div class="flex flex-col gap-1 w-full">
            <small class="flex items-center gap-3">
                <svg class="size-6 text-secondary!" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-miterlimit="10"
                          stroke-width="2"
                          d="M16.0001 7.99997c-1.629-1.629-3.9007-1.91488-6.06614.25057C7.76851 10.416 2.82151 18.0286 4.4505 19.6576c1.629 1.629 9.2416-3.318 11.4071-5.4834 2.0932-2.0933 1.7715-4.54524.1425-6.17423Zm0 0 3.2595-3.15144m-3.2595 3.15144V4m0 3.99997 4 .00002m-3.7978 5.80211-2.1999-2.2155M8.30216 10.211l2.07194 2.0421m-1.25873 3.1838 2.11173 2.1633"></path>
                </svg>
                {% translate 'Ingredient' %}
            </small>
            <div class="flex gap-3 border-t-1 border-secondary pt-1 w-full">
                <div class="flex items-center justify-center gap-5 w-full">
                    <c-input :field="form.ingredient_name" placeholder="{% trans 'Beef...' %}" no_errors></c-input>
                    {{ form.ingredient }}
                </div>
            </div>
        </div>

        <div class="w-full grid grid-cols-2 gap-2">
            <!-- Ingredient Quantity -->
            <div class="flex flex-col gap-1 w-full">
                <small class="flex items-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6 text-secondary!">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"></path>
                    </svg>
                    {% translate 'Amount' %}
                </small>
                <div class="flex gap-3 border-t-1 border-secondary pt-1 w-full">
                    <div class="flex items-center justify-center gap-1">
                        <c-number-action-input :field="form.quantity" no_errors>
                        </c-number-action-input>
                    </div>
                </div>
            </div>

            <!-- Ingredient Unit -->
            <div class="flex flex-col gap-1 w-full">
                <small class="flex items-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6 text-secondary!">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z"></path>
                    </svg>
                    {% translate 'Unit' %}
                </small>
                <div class="flex gap-3 border-t-1 border-secondary pt-1 w-full">
                    <div class="flex items-center justify-center gap-5 w-full">
                        <c-select :field="form.unit" :instance_value="form.instance.unit.id" class="w-fit! px-1!"></c-select>
                    </div>
                    <div class="flex items-center justify-center">
                        <!-- Delete -->
                        <p class="cursor-pointer self-center w-fit ps-5"
                           title="{% translate 'Remove this Ingredient' %}"
                           onclick="this.closest('.formset-form').hidden = true; document.getElementById('{{ form.DELETE.id_for_label }}').checked = true; document.getElementById('{{ form.DELETE.id_for_label }}').value = 'on'; reindexFormset('#ingredient-formset', '#id_recipe_ingredient-TOTAL_FORMS');"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor"
                                 class="size-6 text-error">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"></path>
                            </svg>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
