{% load i18n %}


<div class="grid gird-cols-1 gap-5">
    {{ wizard.form.management_form }}
    <input type="hidden" id="form-index-counter" value="{{ wizard.form.total_form_count }}">

    <div id="ingredient-formset" class="flex flex-col gap-2">
        {% for form in forms %}
            {% include 'recipes/partials/ingredient_form_row.html' with form=form form_index=forloop.counter0 %}
        {% endfor %}
    </div>

    <button type="button"
            class="btn btn-primary dark:btn-accent w-fit"
            hx-get="{% url 'add_ingredient_form' %}"
            hx-target="#ingredient-formset"
            hx-swap="beforeend"
            hx-vals="js:{form_count: document.querySelectorAll('#ingredient-formset .formset-form').length}"
            id="add-ingredient">
        {% translate '+ Add Ingredient' %}
    </button>

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.addEventListener('htmx:afterSwap', function (event) {
            const forms = document.querySelectorAll('.formset-form');
            const lastForm = forms[forms.length - 1];
            const firstInput = lastForm.querySelector('input:not([type="hidden"])');

            if (firstInput) {
                firstInput.focus();
            }

            reindexFormset('#ingredient-formset', '#id_recipe_ingredient-TOTAL_FORMS');
        });
    });
</script>
