{% load i18n %}

<!-- FILTERS -->
<div id="filters" class="flex flex-col gap-2">
    <p>{% translate 'Filter by course type' %}</p>
    <div class="flex flex-wrap items-start justify-start gap-1">
        {% for course_type_key, course_type_value in course_types.items %}
            {% if course_type_key in selected_course_types %}
                <!-- ACTIVE (click = remove filter) -->
                <button
                        class="btn btn-sm btn-secondary"
                        hx-get="{% url 'recipes:recipe_list_partial' %}"
                        hx-vals='{"toggle_course_type": "{{ course_type_key }}", "open": "1"}'
                        hx-target="#recipe-search"
                        hx-include="#search-state"
                >
                    {{ course_type_value }}
                </button>
            {% else %}
                <button
                        class="btn btn-sm btn-outline"
                        hx-get="{% url 'recipes:recipe_list_partial' %}"
                        hx-vals='{"toggle_course_type": "{{ course_type_key }}", "open": "1"}'
                        hx-target="#recipe-search"
                        hx-include="#search-state"
                >
                    {{ course_type_value }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
</div>