{% load static i18n %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5 gap-5 w-full mx-auto pb-10">
    {% if not object_list %}
        <p class="col-span-full text-center">{% translate "We don't have any Recipes listed yet." %}</p>
    {% endif %}
    {% for recipe in object_list %}
        <a href="{% url 'recipe-detail' pk=recipe.pk %}"
           class="overflow-hidden w-full md:max-w-sm h-full flex flex-col rounded-md bg-neutral outline-1 outline-neutral group hover:outline-2 hover:outline-primary cursor-pointer shadow-md hover:bg-base-primary/50 transition-shadow group">
            <figure class="dark:hidden relative shrink-0 w-full md:max-w-sm aspect-square bg-cover bg-center bg-no-repeat rounded-tl-md rounded-bl-md"
                    style="background-image: url('{{ recipe.get_thumbnail_image }}');">
                <div class="bg-primary/50 hidden group-hover:block z-20 absolute top-0 left-0 w-full h-full"></div>
                <figure class="w-full md:max-w-sm opacity-0 scale-50 group-hover:opacity-300 group-hover:scale-95 transition-all duration-300 ease-in-out pointer-events-none group-hover:pointer-events-auto absolute z-30 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 shrink-0 h-full aspect-square bg-contain bg-center bg-no-repeat rounded-tl-md rounded-bl-md"
                        style="background-image: url('{% static 'images/logo_icon.svg' %}');">
                </figure>
            </figure>
            <figure class="not-dark:hidden relative shrink-0 w-full md:max-w-sm aspect-square bg-cover bg-center bg-no-repeat rounded-tl-md rounded-bl-md"
                    style="background-image: url('{{ recipe.get_thumbnail_image_dark }}');">
                <div class="bg-primary/50 hidden group-hover:block z-20 absolute top-0 left-0 w-full h-full"></div>
                <figure class="w-full md:max-w-sm opacity-0 scale-50 group-hover:opacity-300 group-hover:scale-95 transition-all duration-300 ease-in-out pointer-events-none group-hover:pointer-events-auto absolute z-30 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 shrink-0 h-full aspect-square bg-contain bg-center bg-no-repeat rounded-tl-md rounded-bl-md"
                        style="background-image: url('{% static 'images/logo_icon.svg' %}');">
                </figure>
            </figure>
            <div class="flex flex-col justify-between gap-5 px-4 py-2 h-full w-full overflow-hidden">
                <div class="flex flex-col gap-5">
                    <h3 class="group-hover:text-primary break-words whitespace-normal">
                        {{ recipe.name }}
                    </h3>
                    <p class="break-words whitespace-normal line-clamp-3">{{ recipe.description }}</p>
                </div>
                <div class="flex gap-5 justify-between">
                    <div class="flex gap-5 items-center justify-end w-full">
                        <div class="flex gap-2 items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                            </svg>
                            <p>
                                <span class="font-bold">{{ recipe.total_time_hours }}</span><small>h</small>
                            </p>
                            <p>
                                <span class="font-bold">{{ recipe.total_time_minutes }}</span><small>min</small>
                            </p>
                        </div>
                        <c-rating data-average-rating="{{ recipe.average_rating }}"></c-rating>
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor"
                         class="size-6 transition-transform duration-300 group-hover:translate-x-2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
                    </svg>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
