{% load django_vite static %}

<!doctype html>
<html lang="en" data-theme="gourmet-dark">
<head>
    <!-- Character encoding for Unicode -->
    <meta charset="UTF-8">
    <!-- Responsive viewport settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Page description for search engines -->
    <meta name="description"
          content="{% block meta_description %}Gourmet Wiki - Your ultimate resource for gourmet recipes and culinary knowledge{% endblock %}">
    <!-- Author information -->
    <meta name="author" content="Gourmet Wiki Team">
    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index, follow">
    <!-- Define the website's theme color for browser UI elements -->
{#    <meta name="theme-color" content="#bfa000">#}
{#    <meta name="background-color" content="#111111">#}

    <!-- Open Graph meta tags for better social media sharing -->
    <meta property="og:title" content="{% block og_title %}Gourmet Wiki{% endblock %}">
    <meta property="og:description"
          content="{% block og_description %}Your ultimate resource for gourmet recipes and culinary knowledge{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'favicons/android-chrome-512x512.png' %}{% endblock %}">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Gourmet Wiki">

    <!-- Twitter Card meta tags for Twitter sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}Gourmet Wiki{% endblock %}">
    <meta name="twitter:description"
          content="{% block twitter_description %}Your ultimate resource for gourmet recipes and culinary knowledge{% endblock %}">
    <meta name="twitter:image" content="
            {% block twitter_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'favicons/android-chrome-512x512.png' %}{% endblock %}">

    <!-- Canonical URL to prevent duplicate content issues -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <title>
        {% block title %}
            Gourmet Wiki
        {% endblock %}
    </title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest.json' %}">

    {% if debug %}
        {% vite_hmr_client %}
    {% endif %}
    {% vite_asset 'static/js/main.js' %}

    {% block head %}
    {% endblock %}
</head>
<body class="flex flex-col max-w-screen min-h-screen bg-base-100 {% if user.is_authenticated %}pb-14{% endif %} lg:pb-0">

{% include "partials/navbar.html" %}
<div class="min-h-screen flex-grow w-full max-w-full flex flex-col gap-5 items-center justify-start pb-20 overflow-visible">
    {% block main_content %}
    {% endblock %}
</div>

<c-footer></c-footer>

{% if user.is_authenticated %}
    <c-dock></c-dock>
{% endif %}

{% if messages %}
    <ul class="fixed bottom-5 right-5 w-fit flex flex-col gap-2">
        {% for message in messages %}
            <li class="p-2 bg-base-300 rounded-sm flex gap-1">
                <button class="btn btn-ghost btn-xs p-1 hover:bg-base-200" onclick="this.parentElement.remove()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>

                <p>{{ message }}</p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<script src="https://unpkg.com/htmx.org@1.9.10"></script>

</body>
</html>
